<div class="section-body">
    <div class="shell">
        <div class="section-body-inner" >

            <check-published-course></check-published-course>

            <div class="custom-table">
                <div class="table-row">
                    <div class="table-col col-size-1">
                        <h3>Course Title</h3>
                    </div><!-- /.table-col -->

                    <div class="table-col col-size-2">
                        <input type="text" class="field" placeholder="Course Title" ng-model="cei.course.title" ng-readonly="course.status == 1" autofocus>
                    </div><!-- /.table-col -->

                    <div class="table-col col-size-3"></div><!-- /.table-col -->
                </div><!-- /.table-row -->

                <div course-information-categories>
                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Category</h3>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-2">
                            <span name="field-select" class="select" pct-model="cei.course.category" pct-disabled="course.status == 1" null-option="None" pct-options="category.id as category.title for category in categories">
                            </span>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-3">
                            <button ng-click="addNewCategory()" class="btn btn-grey" ng-disabled="course.status == 1">ADD NEW</button>
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->
                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Sub Category</h3>
                        </div><!-- /.table-col -->
                        <div class="table-col col-size-2">
                            <span name="field-select" class="select" pct-model="cei.course.sub_category" pct-disabled="course.status == 1" null-option="None" pct-options="subcat.id as subcat.title for subcat in getCat(cei.course.category).sub_categories">
                            </span>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-3">
                            <button ng-click="addNewSubCategory()" class="btn btn-grey fancybox.ajax popup-open" ng-disabled="course.status == 1">ADD NEW</button>
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->
                </div>

                <div class="table-row">
                    <div class="table-col col-size-1">
                        <h3>Manufacturer</h3>
                    </div><!-- /.table-col -->
                    <div class="table-col col-size-2">
                        <span name="field-select" class="select" pct-model="cei.course.manufacturer" pct-disabled="course.status == 1" null-option="None" pct-options="man.manufacturer_id as man.name for man in manufacturers">
                        </span>
                    </div><!-- /.table-col -->
                </div><!-- /.table-row -->
            </div><!-- /.custom-table -->

            <div class="custom-table-secondary table-states" expanding-table course-information-states></div><!-- /.custom-table-secondary -->

            <div class="custom-table table-prerequisites">
                <div class="table-row">
                    <div class="table-col col-size-1">
                        <h3>Prerequisites</h3>
                    </div><!-- /.table-col -->

                    <div class="table-col col-size-4">
                        <span name="field-select" id="field-select" class="select" pct-model="cei.course.prerequisite_course" pct-disabled="course.status == 1" null-option="Not available" pct-options="pc.id as pc.title for pc in prerequisites">
                        </span>
                    </div><!-- /.table-col -->
                </div><!-- /.table-row -->
            </div><!-- /.custom-table -->

        </div><!-- /.section-body-inner -->
    </div><!-- /.shell -->
</div><!-- /.section-body -->