/* ================================================================ *\
	#Reset
\* ================================================================ */

* { padding: 0; margin: 0; outline: 0; }

/* ================================================================ *\
	#Base
\* ================================================================ */

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section { display: block; }

html,
body { height: 100%; }

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { min-width: 980px; background: #fff; font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 1.86; color: #404040; -webkit-font-smoothing: antialiased; font-weight: 600; }

a { text-decoration: none; color: #2cb142; }
a:hover { text-decoration: underline; }

img { border: 0; vertical-align: middle; }
strong { font-weight: bold; }
small { font-size: 80%; }

button,
input,
select,
textarea { font-family: inherit; font-size: 13px; color: inherit; -webkit-font-smoothing:antialiased; font-weight: inherit; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

button { overflow: visible; }
textarea { overflow: auto; resize: none; }

::-webkit-input-placeholder { color: #909090; opacity: 1; }
::-moz-placeholder { color: #909090; opacity: 1; }
:-moz-placeholder { color: #909090; opacity: 1; }
:-ms-input-placeholder { color: #909090; opacity: 1; }

table { border-collapse: collapse; border-spacing: 0; }
th,
td { padding: 0; }

h3,
h4,
h5 { font-weight: 600; line-height: 1.1; }

h3 { font-size: 19px; }
h4 { font-size: 17px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; text-transform: uppercase; line-height: 1.2; }

/* ================================================================ *\
	#Helpers
\* ================================================================ */

.alignleft { float: left; }
.alignright { float: right; }
.hidden { display: none; visibility: hidden; }

.clearfix:before,
.clearfix:after { display: table; content: ' '; }
.clearfix:after { clear: both; }

.text-right { text-align: right; }

.cols:before,
.cols:after,
.form-actions:before,
.form-actions:after,
.form-cols:before,
.form-cols:after,
.form-controls:before,
.form-controls:after { display: table; content: ' '; }

.cols:after,
.form-actions:after,
.form-cols:after,
.form-controls:after { clear: both; }

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ================================================================ *\
	#Containers
\* ================================================================ */

.wrapper { position: relative; min-height: 100%; }
.container { position: absolute; top: 70px; left: 0; right: 0; bottom: 32px; z-index: 0; }

.wrapper .cols { max-width: 1200px; margin: auto; }

.loading { position: absolute; width: 100%; background-color: #fff; opacity: .7; text-align: center; height: 100%; }
.loading i { position: absolute; top: 50%; font-size: 70px; }

/* ================================================================ *\
	#Common
\* ================================================================ */

.link-download { display: inline-block; vertical-align: middle; background: url(/app/css/images/ico-download-cerrtificate.png) no-repeat 0 4px; padding-left: 26px; font-size: 18px; line-height: 1.2; }
.title-underlined { color: #202020; }
.title-underlined span { border-bottom: 3px solid #ededed; display: inline-block; vertical-align: top; padding-bottom: 4px; }
.title-underlined small { position: relative; top: 3px; }
.title-underlined .bull { color: #e4e4e4; padding-left: 8px; padding-right: 6px; }
.title-underlined .count { font-size: 16px; color: #404040; }
.title-underlined .ico-profile { margin-right: 20px; }
.title-underlined .ico-new-courses,
.title-underlined .ico-open-courses { margin-right: 12px; position: relative; }
.title-underlined .ico-new-courses { top: -3px; }

/* ================================================================ *\
	#Buttons
\* ================================================================ */

.btn { display: inline-block; border: 0; cursor: pointer; background: #00aded; border-radius: 3px; color: #fff; padding: 13px 20px; min-width: 140px; }
.btn:hover { background: #009ed9; }
.btn:active { background: #0192c8; }

.btn-lightgray { background: #9eafb5; }
.btn-lightgray:hover { background: #a8b7bd; }
.btn-lightgray:active { background: #8e9da3; }

.btn-green { background: #2cb142; }
.btn-green:hover { background: #42b955; }
.btn-green:active { background: #289f3b; }

.btn-add,
.btn-remove { display: inline-block; width: 50px; height: 50px; vertical-align: top; border: 2px solid #00c7d3; }
.btn-add { background: url(/app/css/images/ico-plus.png) no-repeat center 0; }
.btn-add.thin { background: url(/app/css/images/ico-plus-thin.png) no-repeat center -2px; }
.btn-remove { background: url(/app/css/images/ico-minus.png) no-repeat center 0; }
.btn-remove.thin { background: url(/app/css/images/ico-minus-thin.png) no-repeat center -2px; }
.btn-add:hover,
.btn-add:active,
.btn-remove:hover,
.btn-remove:active { background-position: center -53px; }
.btn-add.thin:hover,
.btn-add.thin:active,
.btn-remove.thin:hover,
.btn-remove.thin:active { background-position: center -29px; }
.btn-add:hover,
.btn-remove:hover { background-color: #00c7d3; }
.btn-add:active,
.btn-remove:active { background-color: #02bbc6; }

.btn-add + .btn-remove { display: block; margin-top: 8px; }

.btn ~ .btn { margin-left: 20px; }

.btn-add.thin,
.btn-remove.thin { height: 21px; }
.btn-add.thin + .btn-remove.thin { margin-top: 2px; }

.btn i.fa { margin-left: 5px; }
/* ================================================================ *\
	#Icons
\* ================================================================ */

.ico { display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: 0 0; }
.ico-profile { background-image: url(/app/css/images/ico-profile.png); width: 30px; height: 33px; }
.ico-new-courses { background-image: url(/app/css/images/ico-new-courses.png); width: 28px; height: 37px; }
.ico-open-courses { background-image: url(/app/css/images/ico-open-courses.png); width: 37px; height: 35px; }

/* ================================================================ *\
	#Grid
\* ================================================================ */

.col { float: left; }
.col-1of2 { width: 50%; }
.col-full { width: 100%; }

/* ================================================================ *\
	#Forms
\* ================================================================ */

.field { width: 100%; box-sizing: border-box; border: 2px solid #bbb; color: #606060; padding: 13px; height: 54px; }
.field:focus { border-color: #878787; color: #404040; }

.field.has-error { border-color: red; }
.text-danger { color: red; }
.text-success { color: green; }

@-moz-keyframes border-pulsate {
    0%   { border-color: #bbbbbb; }
    50%  { border-color: #B38484; }
    100% { border-color: #bbbbbb; }
}

@-webkit-keyframes border-pulsate {
    0%   { border-color: #bbbbbb; }
    50%  { border-color: #B38484; }
    100% { border-color: #bbbbbb; }
}

@keyframes border-pulsate {
    0%   { border-color: #bbbbbb; }
    50%  { border-color: #B38484; }
    100% { border-color: #bbbbbb; }
}

form.ng-dirty .ng-invalid {
    border-color: #B38484;
    -webkit-animation: border-pulsate 2s infinite;
    -moz-animation: border-pulsate 2s infinite;
    -ms-animation: border-pulsate 2s infinite;
    -o-animation: border-pulsate 2s infinite;
    animation: border-pulsate 2s infinite;
}

.form-label { text-transform: uppercase; font-size: 13px; font-weight: bold; padding-bottom: 15px; display: block; }
a.form-label { color: #404040 !important; }

.form-cols { margin: 0 -8px; }
.form-col { float: left; box-sizing: border-box; padding: 0 8px 8px; }
.form-col-1of2 { width: 50%; }
.form-col-full { width: 100%; }

.form-controls-actions { float: right; }
.form-controls-actions ~ .form-cols-outer { padding-right: 70px; }

.form-actions { text-align: right; font-size: 0; }
.form-actions label { font-size: 11px; float: left; }
.form-actions label + label { clear: both; margin-top: 5px; }
.form-actions label input { position: relative; top: 3px; }
.form-actions label a { color: #404040; }

/* ================================================================ *\
	#Popup
\* ================================================================ */
.popup { position: absolute; width: 226px; min-height: 60px; background: #000; border-radius: 3px; box-shadow: 0 1px 10px rgba(0,0,0, .25); visibility: hidden; opacity: 0; z-index: 3; }
.popup:before { position: absolute; width: 0; height: 0; border-style: solid; content: ''; }
.popup span { font-size: 13px; color: #9eafb5; display: block; padding: 20px 20px 0 20px; }
.popup .popup-buttons { margin: 15px 20px 20px 0; text-align: right; }
.popup .popup-buttons .btn { min-width: 0; padding: 4px 12px; }

.popup.popup-point-up-left:before,
.popup.popup-point-up-middle:before,
.popup.popup-point-up-right:before { top: -8px; border-width: 0 8px 8px; border-color: #000 transparent; }
.popup.popup-point-up-left:before { left: 18px; }
.popup.popup-point-up-middle:before { left: 50%; left: calc(50% - 8px); }
.popup.popup-point-up-right:before { right: 18px; }

.popup.popup-point-left-top:before,
.popup.popup-point-left-middle:before,
.popup.popup-point-left-bottom:before { left: -8px; border-width: 8px 8px 8px 0; border-color: transparent #000 transparent transparent; }
.popup.popup-point-left-top:before { top: 18px; }
.popup.popup-point-left-middle:before { top: 50%; top: calc(50% - 8px); }
.popup.popup-point-left-bottom:before { bottom: 18px; }

.popup.popup-point-bottom-left:before,
.popup.popup-point-bottom-middle:before,
.popup.popup-point-bottom-right:before { bottom: -8px; border-width: 8px 8px 0 8px; border-color: #000 transparent transparent; }
.popup.popup-point-bottom-left:before { left: 18px; }
.popup.popup-point-bottom-middle:before { left: 50%; left: calc(50% - 8px); }
.popup.popup-point-bottom-right:before { right: 18px; }

.popup.popup-point-right-top:before,
.popup.popup-point-right-middle:before,
.popup.popup-point-right-bottom:before { right: -8px; border-width: 8px 0 8px 8px; border-color: transparent transparent transparent #000; }
.popup.popup-point-right-top:before { top: 18px; }
.popup.popup-point-right-middle:before { top: 50%; top: calc(50% - 8px); }
.popup.popup-point-right-bottom:before { bottom: 18px; }

.open .popup,
.open.popup { visibility: visible; opacity: 1; }

/* ================================================================ *\
	#Header
\* ================================================================ */

.header { position: fixed; top: 0; left: 0; width: 100%; height: 68px; border-bottom: 2px solid #d7e2e6; z-index: 1500; background-color: #fff; }
.logo { float: left; background: url(/app/css/images/logo.png) no-repeat 0 0; width: 204px; height: 47px; white-space: nowrap; text-indent: 150%; overflow: hidden; margin: 11px 0 0 36px; }

.nav-container { position: relative; float: right; margin: 26px 36px 0 0; }
.login-container { position: relative; float: right; margin: 9px 0 0 0; width: 500px; }
.login-container form { display: inline-block; margin-left: 9px; }
.login-container input[type=text], .login-container input[type=email], .login-container input[type=password] { width: 168px; height: 36px; padding: 0 13px; }
.login-container .btn { min-width: 0; padding: 0 13px; border-radius: 0; height: 36px; }
.login-container .login-footer { line-height: 1; font-size: 13px; margin: 3px 100px 0 30px; float: right; }
.login-container .login-footer + .login-footer { margin-right: 32px; }
.login-container .login-footer input { width: 12px; }
.login-container .login-footer label { position: relative; display: inline-block; top: -2px; margin-left: 5px; color: #909090; }
.login-container .login-footer a { color: #909090; }

.nav-toggle { display: block; font-size: 16px; line-height: 1; color: #404040; background: url(/app/css/images/arrow-dropdown.png) no-repeat right 4px; padding-right: 37px; }
.open .nav-toggle,
.nav-toggle:hover { color: #e67c00; text-decoration: none; }

.nav { top: 40px; right: -18px; width: 226px; font-size: 16px; }
.nav ul { list-style: none outside none; padding: 18px 18px; }
.nav li ~ li { padding-top: 10px; }
.nav a { display: block; color: #747474; }
.nav a:hover { text-decoration: none; color: #fff; }
.nav .horizontal-line { border-top: solid 1px #747474; margin-top: 15px; }
.nav li.horizontal-line + li { padding-top: 3px; }

.header .error-container {
    position: relative;
    top: 12px;
    width: 100%;
    background-color: orange;
    font-size: 17px;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: hidden;
}

.header .error-container div {
    padding: 25px;
}

/* ================================================================ *\
	#Footer
\* ================================================================ */

.footer { position: fixed; bottom: 0; left: 0; right: 0; height: 25px; padding: 5px 30px 0; border-top: 2px solid #d7e2e6; color: #707070; z-index: 1; font-size: 12px; background-color: #fff; }
.footer .copyright { float: left; font-size: 10px; }
.footer .copyright a { color: #707070; text-decoration: none; }
.footer .copyright a:hover { text-decoration: none; color: #2cb142; }

.footer .nav-footer { float: right; }
.footer .nav-footer ul { list-style: none outside none; }
.footer .nav-footer li { float: left; }
.footer .nav-footer li ~ li { margin-left: 30px; }
.footer .nav-footer a { color: #707070; }
.footer .nav-footer a:hover { text-decoration: none; color: #2cb142; }

/* ================================================================ *\
	#Course
\* ================================================================ */

.course { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.course-steps { position: absolute; top: 0; left: 0; bottom: 0; width: 50px; border-right: 2px solid #d7e2e6; }
.course-steps:before { position: absolute; top: 0; left: 24px; width: 2px; height: 100%; background: #d7e2e6; content: ''; }

.course-steps .link-prev,
.course-steps .link-next { position: absolute; left: 50%; margin-left: -11px; width: 22px; height: 22px; background: #d5d5d5 url(/app/css/images/arrows-timeline.png) no-repeat; text-indent: 150%; overflow: hidden; white-space: nowrap; border-radius: 50%; }
.course-steps .link-prev:hover,
.course-steps .link-next:hover { box-shadow: 0 0 0 1px #e97c00 inset; }
.course-steps .link-prev:active,
.course-steps .link-next:active { background-color: #c6c6c6; }

.course-steps .link-prev { background-position: -46px -23px; top: 50px; }
.course-steps .link-next { background-position: -69px -23px; bottom: 50px; }
.course-steps .link-prev:hover { background-position: -46px 0; }
.course-steps .link-next:hover { background-position: -69px 0; }

.course-steps-slider { position: absolute; top: 112px; bottom: 112px; left: 50%; margin-left: -11px; width: 22px; overflow: hidden; }
.course-steps-slides { list-style: none outside none; }
.course-steps-slides li { padding: 40px 0; }
.course-steps-slides a { display: block; width: 22px; height: 22px; white-space: nowrap; text-indent: 150%; overflow: hidden; background: #edf3f5; box-shadow: 0 0 0 1px #abb8be inset; border-radius: 50%; }
.course-steps-slides .answered { box-shadow: none; background: #50cf6e url(/app/css/images/ico-check-white.png) no-repeat center center; }
.course-steps-slides .current { box-shadow: none; background: #a86eee url(/app/css/images/ico-current-question.png) no-repeat center center; }

.course-questions-container { position: absolute; top: 0; bottom: 0; left: 52px; width: 400px; border-right: 2px solid #d7e2e6; overflow: auto; }

.course-progress { background: #9b54ee; color: #fff; padding: 18px 15px 13px 15px; }
.course-progress h3 { padding-bottom: 27px; }
.course-progress h5 { padding-bottom: 38px; }

.course-progress-bar { font-size: 13px; line-height: 1; text-transform: uppercase; font-weight: bold; color: #cea6fd; } 
.course-progress-bar p { overflow: hidden; padding-bottom: 9px; }
.course-progress-bar-fill,
.course-progress-bar-fill div { border-radius: 3px; }
.course-progress-bar-fill { position: relative; height: 5px; background: #a565f0;  }
.course-progress-bar-fill div { position: absolute; top: 0; left: 0; height: 100%; background: #fff; }

.course-single-media-head, .test-single-media-head { padding-bottom: 35px; }
.course-single-media-head i, .test-single-media-head i { font-size: 12px; font-style: italic; font-weight: normal; }
.course-single-media-wrapper, .test-single-media-wrapper { position: relative; width: 360px; }
.course-single-media-wrapper > img,
.course-single-media-wrapper > video,
.course-single-media-wrapper > div,
.test-single-media-wrapper > img,
.test-single-media-wrapper > video,
.test-single-media-wrapper > div { width: 360px; }

.course-questions { background: #f7f9fa; padding: 21px 20px 16px 20px; }
.course-questions .form-body { padding-bottom: 14px; }
.course-question-head { padding-bottom: 15px; }
.course-question-head h5 { padding-top: 10px; font-size: 12px; }
.course-question-head h4 + h4 { padding-top: 10px; }
.course-question-head .tip { float: right; font-size: 28px; margin: 0 0 10px 10px; color: #404040; }
.course-question-head .tip + .popup { display: none; }
.course-question-head .tip + .popup span { padding: 20px; }
.course-question-head .tip.focus { color: #00aded; }
.course-question-head .tip.focus + .popup { display: block; visibility: visible; opacity: 1; left: auto; position: absolute; right: 50px; }
.course-question-head.no-media .tip.focus + .popup { top: 165px; }
.course-question-head.has-media .tip.focus + .popup { top: 465px; }
.course-question-title { color: #404040; font-weight: 300; }
.course-question-title b { font-weight: 900; }

.course-question-options { background: #fff; border: 1px solid #d7e2e6; }
.course-question-option ~ .course-question-option { border-top: 1px solid #d7e2e6; }

.course-question-option input { display: none; }
.course-question-option label { position: relative; display: block; font-size: 16px; line-height: 1.2; color: #707070; padding: 20px 24px; cursor: pointer; }

.course-question-option input:checked + label,
.course-question-option label:hover { color: #00aded; }
.retry .course-question-option.previous-answer input:checked + label,
.retry .course-question-option.previous-answer label:hover { color: #767676; }
.correct .course-question-option.previous-answer input:checked + label,
.correct .course-question-option.previous-answer label:hover { color: #1daa33; }
.course-question-option input:checked + label:after { position: absolute; top: 50%; right: 24px; margin-top: -4px; content: ''; background: url(/app/css/images/ico-check-blue.png) no-repeat 0 0; width: 11px; height: 8px; }
.retry .course-question-option.previous-answer input:checked + label:after { background-image: url(/app/css/images/ico-check-gray.png); }
.correct .course-question-option.previous-answer input:checked + label:after { background-image: url(/app/css/images/ico-check-green.png); }

.course-question-options-pictures { border: 1px solid #d7e2e6; overflow: hidden; }
.course-question-option-picture { float: left; position: relative; width: 119px; box-sizing: border-box; box-shadow: -1px 0 0 #d7e2e6; height: 100px; background-color: #d7e2e6; }
.course-question-option-picture:nth-child(n+4) { box-shadow: -1px 0 0 #d7e2e6, 0 -1px 0 #d7e2e6; }
.course-question-option-picture img { display: block; min-width: 100%; max-width: 100%; height: auto; max-height: 100px; }
.course-single-media-wrapper .js-magnify, .test-single-media-wrapper .js-magnify,
.course-question-option-picture .js-magnify { position: absolute; top: 0; right: 0; width: 31px; height: 30px; background: rgba(255, 255, 255, 0.6) url(/app/css/images/ico-magnify.png) no-repeat center center; }
.course-question-option-picture a:hover { opacity: 0.7; }
.course-question-option-picture input { display: none; }
.course-question-option-picture label { position: absolute; bottom: 0; left: 0; right: 0; background: rgba(255, 255, 255, 0.5); font-weight: 400; font-size: 14px; line-height: 1.2; cursor: pointer; padding: 3px 0 3px 27px; }
.course-question-option-picture label:before { position: absolute; top: 2px; left: 5px; width: 16px; height: 16px; content: ''; background: url(/app/css/images/checks.png) no-repeat 0 0; }
.course-question-option-picture input:checked + label:before { background-position: 0 -17px; }

.course-question-option.course-question-option-header { text-align: center; line-height: 1.2; padding: 20px 24px; }
.retry .course-question-option.course-question-option-header { background-color: #e97d00; color: #fff; }
.correct .course-question-option.course-question-option-header { background-color: #1daa33; color: #fff; }

.course-question-answer { padding: 31px 35px; }
.course-question-answer-title { padding-bottom: 16px; }
.correct .course-question-answer-title { color: #32d24d; }
.retry .course-question-answer-title { color: #e97d00; }

.nav-questions { text-align: center; font-size: 0; padding: 34px 0; }
.nav-questions .link-prev,
.nav-questions .link-next { display: inline-block; width: 37px; height: 37px; background-color: #bac5ca; background-repeat: no-repeat; background-position: center center; border-radius: 50%; white-space: nowrap; text-indent: 150%; overflow: hidden; margin: 0 10px; }
.nav-questions .link-prev:hover,
.nav-questions .link-next:hover { background-color: #abb8be; }
.nav-questions .link-prev:active,
.nav-questions .link-next:active { background-color: #95a2a8; }
.nav-questions .link-prev { background-image: url(/app/css/images/ico-prev-question.png); }
.nav-questions .link-next { background-image: url(/app/css/images/ico-next-question.png); }

.course-media { position: absolute; top: 0; left: 454px; right: 0; bottom: 0; }
.course-media-bar { height: 27px; border-bottom: 2px solid #d7e2e6; text-align: center; font-size: 16px; color: #55676e; line-height: 1.20; padding: 8px 0 0 28px; }

.course-media.no-media .course-media-bar { display: none; }
.course-media.no-media .course-media-frame { text-align: center; margin-top: 10%; font-size: 13px; font-style: italic; color: #999; }

.course-zoom,
.course-zoom-in,
.course-zoom-out,
.course-zoom-level { float: left; }

.course-zoom-in,
.course-zoom-out { width: 20px; height: 20px; background-repeat: no-repeat; background-position: 0 0; white-space: nowrap; text-indent: 150%; overflow: hidden; }
.course-zoom-in:hover,
.course-zoom-out:hover { opacity: 0.7; }

.course-zoom-level { min-width: 100px; }
.course-zoom-in { background-image: url(/app/css/images/ico-zoom-in.png); }
.course-zoom-out { background-image: url(/app/css/images/ico-zoom-out.png); }

.course-controls { float: right; }
.course-controls [class*='course-control'] { float: left; white-space: nowrap; text-indent: 150%; overflow: hidden; background-repeat: no-repeat; background-position: 0 0; margin: 0 28px; }
.course-controls [class*='course-control']:hover { opacity: 0.7; }

.course-control-print { background-image: url(/app/css/images/ico-print.png); width: 23px; height: 20px; }
.course-control-download { background-image: url(/app/css/images/ico-download.png); width: 20px; height: 18px; }
.course-control-maximize { background-image: url(/app/css/images/ico-maximize.png); width: 20px; height: 20px; }
.course-control-maximize.maximized { background-image: url(/app/css/images/ico-reduce.png); width: 19px; height: 20px; }

.course-switch { display: none; }

.course-paging { display: inline-block; overflow: hidden; }
.course-paging-prev,
.course-paging-next,
.course-paging-label { float: left; }

.course-paging-prev,
.course-paging-next { width: 20px; height: 20px; white-space: nowrap; text-indent: 150%; overflow: hidden; background-repeat: no-repeat; background-position: 0 0; }
.course-paging-prev:hover,
.course-paging-next:hover { opacity: 0.7; }

.course-paging-label { min-width: 130px; }
.course-paging-prev { background-image: url(/app/css/images/ico-prev.png); } 
.course-paging-next { background-image: url(/app/css/images/ico-next.png); } 

.course-paging a[disabled="disabled"] { visibility: hidden; }

.course-media-frame { position: absolute; top: 37px; bottom: 0; left: 0; right: 0; overflow: hidden; }
.course-pdf-preview { display: block; min-width: 100%; height: auto; border: solid 1px #d7e2e6; }

.course-maximized .course-questions-container { display: none; }
.course-maximized .course-media { left: 52px; }

/* ================================================================ *\
	#Course Help Popups
\* ================================================================ */
.help-container { overflow: hidden; width: 0; height: 0; z-index: 3; }
.help-wrapper { z-index: 2; position: fixed; top: 0; left: 0; background: rgba(255, 255, 255, .7); height: 0; width: 0; overflow: hidden; }
.popup.open ~ .help-wrapper { width: 100%; height: 100%; }
.help-wrapper > button { position: fixed; bottom: 20px; right: 20px; }

#helpSection { top: 105px; left: 54px; }
#helpProgressBar { top: 230px; left: 125px; }
#helpQuestions { top: 232px; left: 448px; }
#helpLabelTools { top: 113px; left: 50%; }
#helpClose { bottom: 77px; right: 20px; z-index: 5; }

/* ================================================================ *\
	#Test
\* ================================================================ */

.test-head { height: 151px; background: url(/app/css/images/test-head.jpg) no-repeat center center; background-size: cover; padding: 38px 3.5% 0; }
.test-head h6 { color: #adfaff; padding-bottom: 3px; }
.test-head h2 { font-size: 30px; color: #fff; font-weight: normal; line-height: 1; padding-bottom: 42px; }

.test-head > * { max-width: 1220px; margin: auto; }
.test-progress { height: 25px; position: relative; padding-left: 60px; max-width: 1160px !important; }
.test-progress-percent { position: absolute; top: 0; left: 0; width: 50px; height: 25px; background: #00282a; border-radius: 3px; text-align: center; color: #fff; line-height: 25px; font-size: 13px; font-weight: bold; }
.test-progress-label { display: block; font-size: 13px; text-transform: uppercase; line-height: 1; font-weight: bold; color: #adfaff; padding-bottom: 7px; }
.test-progress-bar,
.test-progress-bar-fill { height: 5px; border-radius: 3px; }
.test-progress-bar { position: relative; background: #74e3e9; max-width: 440px; }
.test-progress-bar-fill { position: absolute; top: 0; left: 0; background: #e8feff; }

.test-question { padding: 60px 3.5%; }
.test-question-title { line-height: 1.84; }
.test-question-answers { padding: 70px 3.5%; }
.test-question-answers .form-actions { padding-top: 30px; }

.test-certificate,
.test-certificate-form { padding: 60px 3.5%; }

.test-certificate-title { padding-bottom: 35px; }
.test-certificate-preview img { max-width: 100%; }

.test-certificate-form .form-title { padding-bottom: 27px; }
.test-certificate-form .form-description { color: #606060; padding-bottom: 60px; }
.test-certificate-form .form-actions { padding-top: 60px; }

.test-certificate-form .form-controls + .form-controls { margin-top: 20px; }

.test-certificate-form .form-controls:first-of-type .btn-remove { display: none; }

.course-question-option-description { padding: 0 24px 15px 24px; }

/* ================================================================ *\
	#Intro
\* ================================================================ */

.intro { height: 93px; padding-top: 77px; background: url(/app/css/images/intro-bg.jpg) no-repeat center 0; background-size: cover; }
.intro-logged { height: 190px; padding-top: 50px; }
.intro-title { color: #fff; font-weight: normal; text-align: center; }

.search { position: relative; max-width: 78%; margin: 37px auto 0; }
.search-field { position: relative; z-index: 2; background: #fff; border-radius: 5px; height: 67px; line-height: 3.19; padding-left: 64px; cursor: pointer; font-size: 21px; }
.search-field input { font-size: 21px; cursor: pointer; border: none; width: 90%; }
.search-field:before,
.search-field:after { position: absolute; content: ''; }
.search-field:before { top: 19px; left: 18px; background: url(/app/css/images/ico-search-field.png) no-repeat 0 0; width: 28px; height: 29px; opacity: 0.5; }
.search-field:after { top: 26px; right: 25px; width: 0; height: 0; border-width: 15px 10px 0; border-style: solid; border-color: #404040 transparent; }
.search-expanded .search-field:after { border-width: 0 10px 15px; top: 24px; opacity: 0.6; }

.search-dropdown { position: absolute; top: 60px; left: 0; right: 0; background: #fff; border-radius: 5px; box-shadow: 0 1px 10px rgba(0,0,0, .25); padding: 33px 0 20px; z-index: 1; display: none; }
.search-section { padding: 0 3%; }
.search-section .section-title { color: #2cb142; border-bottom: 2px solid #eaeaea; padding-bottom: 10px; min-height: 42px; }
.search-section .section-body { padding-top: 10px; }
.search-section h5 { font-size: 16px; color: #909090; font-weight: bold; padding-bottom: 10px; }
.search-section ul { list-style: none outside none; padding-bottom: 20px; }
.search-section li a { display: inline-block; font-size: 16px; color: #202020; line-height: 1.2; padding: 8px 15px 10px; border-radius: 3px; }
.search-section li a:hover { color: #00b2e6; text-decoration: none; background: #f0f2f2; }

[class^="search-ico"] { position: relative; display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: 0 0; }
.search-ico-rats { background-image: url(/app/css/images/ico-rats.png); width: 38px; height: 33px; margin-right: 10px; top: -2px; }

.search-expanded .search-field,
.search-expanded .search-field input { background: #efefef; }
.search-expanded .search-field:before { opacity: 0.2; }
.search-expanded .search-dropdown { display: block; }

/* ================================================================ *\
	#Features
\* ================================================================ */

.section-features { padding: 65px 5% 65px 11%; }

.features { list-style: none outside none; padding-top: 35px; }
.feature { display: table; width: 100%; border: 2px solid #ededed; border-radius: 5px; padding: 30px 0; }
.feature ~ .feature { margin-top: 25px; }

[class^="feature-ico"] { display: inline-block; background-repeat: no-repeat; background-position: 0 0; vertical-align: middle; }
.feature-ico-book { background-image: url(/app/css/images/ico-book.png); width: 53px; height: 49px; }
.feature-ico-hat { background-image: url(/app/css/images/ico-hat.png); width: 73px; height: 49px; }
.feature-ico-write { background-image: url(/app/css/images/ico-write.png); width: 57px; height: 45px; }

.feature-aside,
.feature-entry { display: table-cell; vertical-align: middle; }
.feature-aside { width: 22%; text-align: center; }
.feature-entry { font-size: 13px; line-height: 1.2; padding-right: 6%; }

/* ================================================================ *\
	#Signup
\* ================================================================ */

.user-forms > div:not(.form-signin) + div { padding-top: 0; }

.form-signin { display: none; }
.form-signup,
.form-password,
.form-licensure-managers,
.form-certificates { padding: 65px 11% 35px 5%; }
.user-forms .form-body { position: relative; padding: 36px 0 0; }
.user-forms .form-body.split-form:before { position: absolute; top: 70px; bottom: 36px; left: 50%; margin-left: -1px; width: 2px; background: #ededed; content: ''; }

.user-forms .form-section-head { padding-bottom: 16px; }
.user-forms .form-row { padding-bottom: 20px; }
.user-forms .form-section { padding-right: 9px; }
.user-forms .form-col ~ .form-col .form-section { padding: 0 0 0 9px; }
.user-forms i.fa { color: #1daa33; font-size: 24px; margin-right: 7px; }

.user-forms .form-controls + .form-controls { margin-top: 20px; }

/* ================================================================ *\
	#Courses
\* ================================================================ */

.section-courses { padding: 60px 12% 121px 3%; }
.section-courses .section-head { min-height: 77px; }

.col-1of2:first-child .section-courses { padding-left: 12%; padding-right: 3%; }

.courses-items { list-style: none outside none; }
.courses-item { position: relative; border: 1px solid #e9e9e9; border-radius: 5px; overflow: hidden; padding: 15px; }
.courses-item ~ .courses-item { margin-top: 20px; }

.courses-item-image { float: left; width: 96px; height: 96px; background: #eeeeee; border-radius: 3px; margin-right: 20px; display: table; }
.courses-item-image span { display: table-cell; vertical-align: middle; }
.courses-item-image img { width: 96px; height: auto; max-height: 96px; }
.courses-item-content { overflow: hidden; }
.courses-item-title { padding-bottom: 3px; }
.courses-item-title a { color: #404040; }
.courses-item-meta { color: #a0a0a0; min-height: 40px; }

.courses-item-bars { list-style: none outside none; overflow: hidden; }
.courses-item-bar { float: left; width: 50%; }
.courses-item-bar-label { display: block; font-size: 13px; line-height: 1; color: #707070; text-transform: uppercase; font-weight: bold; padding-bottom: 9px; }
.courses-item-bar-fill,
.courses-item-bar-fill span { height: 5px; border-radius: 3px; }
.courses-item-bar-fill { display: block; max-width: 120px; position: relative; background: #f0f0f0; }
.courses-item-bar-fill span { position: absolute; top: 0; left: 0; }

.courses-item-bar-purple .courses-item-bar-fill span { background: #a552ec; }
.courses-item-bar-blue .courses-item-bar-fill span { background: #00c7d3; }

.courses-item-action-resume,
.courses-item-action-start,
.courses-item-action-send { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 5px; color: #fff; font-size: 16px; line-height: 1; font-weight: bold; text-align: center; }

.courses-item-action-resume span,
.courses-item-action-start span,
.courses-item-action-send span { position: absolute; top: 50%; left: 50%; display: inline-block; background-repeat: no-repeat; background-position: center 0; vertical-align: top; padding-top: 47px; }

.courses-item-action-resume span,
.courses-item-action-start span,
.courses-item-action-send span {
	-webkit-transform: translate(-50%, -50%); 
	    -ms-transform: translate(-50%, -50%); 
	     -o-transform: translate(-50%, -50%); 
	        transform: translate(-50%, -50%); 
}

.courses-item-action-resume { background: rgba(230, 124, 0, 0.75); }
.courses-item-action-resume span { background-image: url(/app/css/images/ico-resume-course.png); }

.courses-item-action-start { background: rgba(17, 172, 237, 0.75); }
.courses-item-action-start span { background-image: url(/app/css/images/ico-start-course.png); }

.courses-item-action-send { background: rgba(29, 170, 51, 0.75); font-size: 13px; }
.courses-item-action-send span { background-image: url(/app/css/images/ico-send-certificate.png); }
.courses-item-action-send span a { color: #fff; display: inline-block; vertical-align: middle; width: 47px; }
.courses-item-action-send span a i.fa { color: #fff; font-size: 29px; }
.courses-item-action-send span a + a { margin-left: 28px; }

.courses-item:hover [class^="courses-item-action"] { display: block; }

.certificates .courses-item { width: 44%; float: left; display: block; margin-bottom: 20px; }
.certificates .courses-item + .courses-item { margin-top: 0;  }
.certificates .courses-item:nth-of-type(even) { margin-left: 36px;  }

/* ================================================================ *\
	#Icon Colors
\* ================================================================ */
.fa.fa-print { color: #42b3e0; }
.fa.fa-download { color: #e97c00; }
.fa.fa-expand { color: #5fd771; }

.btn[disabled] {
	background: #88DDFC;
	cursor: not-allowed;
}
.btn.btn-green[disabled] {
	background: #78EB8B;
}
button[disabled], button[disabled]:hover {
	background: #88DDFC;
	cursor: not-allowed;
}

label.correct {
	color: limegreen;
}

.btn-login i.fa {
	margin-left: 0;
}

/* ================================================================ *\
	#Magnify Height Fix
\* ================================================================ */
.mfp-image-holder .mfp-content {
  max-width: 100%;
  max-height: 80%;
}