<div class="table table-section-list">
    <table>
        <colgroup>
            <col width="8%">
            <col width="44%">
            <col width="25%">
            <col width="14%">
            <col width="9%">
        </colgroup>
        <tbody>
            <tr>
                <th colspan="3">Section
                    <i style="text-transform: none" ng-if="sections.length == 0">
                        : No section(s) available
                    </i>
                </th>
                <th class="text-center">Document</th>
                <th># Questions</th>
            </tr>
            <!--<tr ng-if="sections.length == 0">-->
                <!--<td class="no-record" colspan="5">No section(s) available</td>-->
            <!--</tr>-->

            <tr ng-repeat="section in sections" section-row ng-class="{editing: editName.editing}">
                <td>{{$index + 1}}</td>

                <td class="section-name">
                    <span class="name">{{section.title}}</span>
                    <span class="name-edit">
                        <input type="text" class="field" tabindex="1" ng-model="editName.title" placeholder="Section name" pct-focus="editName.editing"/>
                        <a href="" class="fa fa-save" tabindex="1" ng-click="saveTitle()"></a>
                        <a href="" class="fa fa-close" ng-click="editName.editing = false"></a>
                    </span>
                </td>

                <td>
                    <div class="icons">
                        <a href="" class="fa fa-arrows"></a>
                        <a href="" class="icon icon-rename" ng-click="editName.editing = true"></a>
                        <a href="4.PCT.Section.Edit.html" class="fa fa-pencil"></a>
                        <a href="" class="fa fa-trash-o" ng-click="deleteSection(section)"></a>
                    </div><!-- /.icons -->
                </td>

                <td class="text-center padding-vert-0 view-document" ng-if="section.document.pages.length">
                    <div class="view-document-info"><i class="fa fa-file-pdf-o"></i> <span>{{section.document.pages.length}} page(s)</span></div>
                    <div class="view-document-link"><a href="#"><i class="fa fa-search"></i></a><a href="#"><i class="fa fa-upload"></i></a><a href="#"><i class="fa fa-trash"></i></a></div>
                </td>

                <td class="text-center padding-vert-0 view-document" ng-if="!section.document.pages.length">
                    <div class="view-document-info"><i class="fa fa-minus-circle"></i></div>
                    <a href="#" class="view-document-link"><i class="fa fa-upload"></i></a>
                </td>

                <td>{{section.num_questions}}</td>
            </tr>

            <tr>
                <td>{{sections.length + 1}}</td>

                <td><input type="text" class="field" placeholder="Add new section" ng-model="inserting.title"/></td>

                <td colspan="3">
                    <div class="btns">
                        <a href="" class="btn btn-grey" ng-click="addSection()">Add</a>

                        <a href="4.PCT.Section.Edit.html" class="btn btn-green">Add &amp; Build</a>
                    </div><!-- /.btns -->
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- /.table -->