<section class="section section-user">
    <div class="section-nav-secondary">
        <div class="shell">
            <ul>
                <li class="bg-grey">
                    <h3>User</h3>

                    <p>
                        <i class="icon icon-profile"></i>
                        {{detail.first_name}} {{detail.last_name}}<br />
                        <a href="mailto:{{detail.email}}">{{detail.email}}</a>
                    </p>

                    <div class="admin">
                        {{detail.admin_access ? "Admin" : "Normal user"}} <i class="fa fa-angle-down"></i>

                        <a href="" ng-if="detail.admin_access">Demote to normal user</a>
                        <a href="" ng-if="!detail.admin_access">Promote to admin</a>
                    </div>
                </li>

                <li class="bg-grey-dark">
                    <h3>Licenses</h3>

                    <p ng-repeat="licensure in detail.licensures">
                        <i class="fa fa-check-circle-o"></i>
                        {{stateByCode(licensure.state).name}}
                        {{licensure.category}}
                        #{{licensure.license_num}}
                    </p>

                </li>

                <li class="bg-grey-darker">
                    <h3>Company</h3>

                    <p>
                        <i class="icon icon-building"></i>
                        {{detail.company_name}}<br />
                        {{detail.company_address.address1}}<br />
                        {{detail.company_address.address2}}<br ng-if="detail.company_address.address2" />
                        {{detail.company_address.city}}, {{stateByCode(detail.company_address.state).name}} {{detail.company_address.zip_code}}
                    </p>
                </li>

                <li class="bg-grey-darkest">
                    <h3>Active Managers</h3>

                    <p ng-repeat="manager in detail.managers">
                        <i class="icon icon-manager"></i>
                        {{manager.name}}
                        <a href="mailto:{{manager.email}}">{{manager.email}}</a>
                    </p>

                </li>
            </ul>
        </div><!-- /.shell -->
    </div><!-- /.section-nav-secondary -->
    
    <div class="section-body">
        <div class="shell">
            <div class="section-body-inner">
                <div class="table table-courses-list table-user">
                    <table>
                        <tr>
                            <th width="48%">Course</th>

                            <th width="13%" class="text-center">Course</th>

                            <th width="13%" class="text-center">Test</th>

                            <th width="13%">Last Activity</th>

                            <th width="13%" class="text-center">Certificate</th>
                        </tr>

                        <tr ng-if="detail.courses.length == 0">
                            <td colspan="5" class="no-record">No course(s) available</td>
                        </tr>
                        <tr ng-repeat="course in detail.courses">
                            <td>
                                {{course.title}}
                            </td>

                            <td>
                                <div class="progress" ng-class="{'progress-checked': course.course_percent==1}">
                                    <i class="fa fa-check" ng-if="course.course_percent==1"></i>
                                    {{course.course_percent == 1 ? "" : percent(course.course_percent) + "%"}}
                                    <p class="progress-bar">
                                        <span style="width:{{percent(course.course_percent)}}%"></span>
                                    </p><!-- /.progress-bar -->
                                </div><!-- /.progress -->
                            </td>

                            <td>
                                <div class="progress" ng-class="{'progress-checked': course.test_percent==1, 'progress-failed': course.test_failed}">
                                    <i class="fa" ng-class="{'fa-check': course.test_percent==1, 'fa-close': course.test_failed}" ng-if="course.test_percent==1 || course.test_failed"></i>
                                    {{(course.test_percent == 1 || course.test_failed) ? "" : percent(course.test_percent) + "%"}}
                                    <p class="progress-bar">
                                        <span style="width:{{percent(course.test_percent)}}%"></span>
                                    </p><!-- /.progress-bar -->
                                </div><!-- /.progress -->
                            </td>

                            <td>{{course.last_activity | date:"M/d/yyyy"}}</td>

                            <td class="text-center certificate-failed" ng-if="course.test_failed">Failed</td>
                            <td class="text-center" ng-if="!course.test_failed && course.certificate_url">
                                <a href="{{course.certificate_url}}">
                                    <i class="icon icon-certificate"></i>
                                </a>
                            </td>
                            <td class="text-center" ng-if="!course.test_failed && !course.certificate_url">
                            </td>
                        </tr>

                    </table>
                </div><!-- /.table -->
            </div><!-- /.section-body-inner -->
        </div><!-- /.shell -->
    </div><!-- /.section-body -->
</section><!-- /.section section-courses-list -->