<aside class="container-sidebar">
    <a href="" class="logo">PCT</a>

    <nav class="nav">
        <ul>
            <li ng-repeat="link in links" ng-class="{current: $state.current.name == link.state}" >
                <a ui-sref="{{link.state}}">
                    <i class="icon icon-{{link.icon}}"></i>
                    <span>{{link.title}}</span>
                </a>
            </li>

            <li>
                <a href="//gie.prototype1.io/profile.html" target="_blank">
                    <i class="icon icon-profile"></i>
                    <span>My Profile</span>
                </a>
            </li>
        </ul>
    </nav><!-- /.nav -->
</aside><!-- /.container-sidebar -->