<div class="shell">
    <div class="breadcrumbs">

        <a href="" ng-if="layout.breadcrumbs == null">{{$state.current.data.name}}</a>
        <div ng-if="layout.breadcrumbs!=null">

            <a ui-sref="{{layout.breadcrumbs.rootState}}">{{$state.current.data.name}}</a>

            <span>/</span>

            <a href="" class="current" >{{layout.breadcrumbs.sub}}</a>
        </div>
    </div>
    <!-- /.breadcrumbs -->

    <content-header-search ng-if="layout.search"></content-header-search>

    <nav class="nav-access" ng-if="User.loggedIn">
        <ul>
            <li>
                <a href="" ng-click="logout()">
                    {{User.fullName}}
                    <i class="icon icon-exit"></i>
                </a>
            </li>
        </ul>
    </nav><!-- /.nav-access -->
</div>
<!-- /.shell -->