
<div class="section-body">
    <div class="shell">
        <div class="section-body-inner" >


            <div class="review-table">
                <div>
                    <i class="icon icon-course"></i>
                    <div class="overlay">
                        <a href="" ng-click="reviewCourse()" class="btn btn-blue">Review Course</a>
                    </div><!-- /.overlay -->
                </div>
                <div>
                    <i class="icon icon-test"></i>
                    <div class="overlay">
                        <a href="" ng-click="reviewTest()" class="btn btn-blue">Review Test</a>
                    </div><!-- /.overlay -->
                </div>
            </div>

            <form novalidate name="form">
                <div class="custom-table">

                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Reviewer's Name</h3>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-4">
                            <input type="text" class="field" ng-model="reviewer.name" required placeholder="Reviewer's Name">
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->

                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Reviewer's State</h3>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-4">
                            <select name="field-select" class="select" pct-model="reviewer.state" pct-options="state.code as state.name for state in states">
                            </select>
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->

                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Reviewer's Email</h3>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-2">
                            <input type="email" class="field" ng-model="reviewer.email" required placeholder="Reviewer's Email">
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-3">
                            <button ng-click="send()" class="btn btn-green btn-icon-right" button-loading="ri.sending" ng-disabled="form.$invalid || ri.sending" style="padding-left: 13px; padding-right: 13px">
                                Send
                            </button>
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->
                </div><!-- /.custom-table -->
            </form>
        </div><!-- /.section-body-inner -->
    </div><!-- /.shell -->
</div><!-- /.section-body -->
