################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PST.API/bin/Debug
/PST.API/obj/Debug
/PST.Api.Core/obj/Debug
/PST.Api.Models/obj/Debug
/PST.Data/obj/Debug
/PST.Declarations/obj/Debug
/PST.Migrations/obj/Debug
/PST.Services/obj/Debug
/packages
*.suo
/PST.Api.Models/bin/Debug
/PST.Data/bin/Debug
/PST.Declarations/bin/Debug
/PST.Migrations/bin/Debug
/PST.Services/bin/Debug
/_Prototype/bin
/_Prototype/obj/Debug
*.user
/PST.Api/bin
/_Prototype-Management/bin
/_Prototype-Management/obj/Debug
/PST.Api.Core/bin/Debug
/PST.Tests/bin/Debug
/PST.Tests/obj/Debug
/PST.Api/App_Data/PST.Api.XML
