
<div class="container is-scrollable">
    <div class="test">

        <div class="test-head">
            <h2>{{test.title}}</h2>

            <div class="test-progress">
                <span class="test-progress-percent">{{ showResult ? '100%' : testView.progress }}</span>

						<span class="test-progress-label">
							Test Completed
						</span><!-- /.test-progress-label -->

                <div class="test-progress-bar">
                    <div class="test-progress-bar-fill" style="width: {{ showResult ? '100%' : testView.progress }}"></div><!-- /.test-progress-bar-fill -->
                </div><!-- /.test-progress-bar -->
            </div><!-- /.test-progress -->
        </div><!-- /.test-head -->

        <div class="test-body">

            <!-- Showing test questions -->
            <test-questions-container ng-if="!showResult"></test-questions-container>

            <div ng-if="showResult">

                <!-- Test result failed -->
                <div class="cols" ng-if="!isPassed()">
                    <test-failed></test-failed>
                </div>


                <!-- Test result passed -->
                <div class="cols" ng-if="isPassed()">
                    <test-passed></test-passed>
                </div><!-- /.cols -->
            </div><!-- /.cols -->


        </div><!-- /.test-body -->
    </div><!-- /.test -->
</div><!-- /.container -->
