<div class="popup popup-edit" ng-class="{3: 'popup-edit-text', 1: 'popup-edit-multi-images', 0: 'popup-edit-single-image', 2: 'popup-edit-single-image'}[question_type]">
	<div class="popup-inner">
		<div class="popup-head">
			<h2 class="popup-title"><span>{{index + 1}}</span> {{question_text || "(Empty)"}}</h2><!-- /.popup-title -->
		</div><!-- /.popup-head -->

		<div class="popup-body clearfix">

            <div class="col col-1" ng-if="question_type == 0 || question_type == 2">
                <div class="btns alignleft">
                    <span ng-file-select="addQuestionImage($files[0])" class="alignleft btn-circle btn-orange">
                        <i class="icon icon-photo-plus white"></i>
                    </span>
                    <a href="" ng-click="view.addVideo.show = true" class="alignleft btn-circle btn-orange">
                        <i class="icon icon-video-plus white"></i>
                    </a>
                </div><!-- /.alignleft -->

                <img ng-if="question_type == 0 || (question_type == 2 && question_video == null)" ng-src="{{question_image || 'Areas/Management/app/css/images/video-image-img.png'}}" alt="" width="261" height="147">

                <pct-video ng-if="question_type == 2 && question_video != null" src="question_video" width="261" height="147">
                </pct-video>
            </div><!-- /.col col-1of2 -->

			<div class="col col-2" ng-if="question_type != 1">
                <a href="" ng-click="addOption()" class="alignleft btn-circle btn-grey">
                    <i class="icon white icon-text-plus"></i>
                </a>

                <ul class="list-checkboxes">
                    <li ng-if="options.length == 0">
                        <div>
                            No answer(s) available.
                        </div><!-- /.checkbox -->
                    </li>
                    <li ng-repeat="option in options">
                        <div class="checkbox">
                            <input type="checkbox" ng-model="option.correct" id="mo{{$index}}">

                            <label class="form-label" for="mo{{$index}}"></label>

                            <input class="form-field" ng-model="option.text" placeholder="Answer" />

                            <a href="" class="fa fa-trash-o" ng-click="deleteOption(option)"></a>
                        </div><!-- /.checkbox -->
                    </li>

                </ul><!-- /.list-checkboxes -->
			</div><!-- /.col col-1of2 -->


			<div class="col col-2" ng-if="question_type == 1">
                <span ng-file-select="addImageOptions($files)" data-multiple="true" class="alignleft btn-circle btn-grey">
                    <i class="icon white icon-multiphoto-plus"></i>
                </span>

                <ul class="list-images">
                    <li ng-if="options.length == 0">
                        <div>
                            No answer(s) available.
                        </div><!-- /.checkbox -->
                    </li>
                    <li ng-repeat="option in options">
                        <div class="checkbox">
                            <input type="checkbox" ng-model="option.correct" id="mo{{$index}}">

                            <label class="form-label" for="mo{{$index}}"></label>
                        </div><!-- /.checkbox -->

                        <img ng-src="{{option.image}}" alt="">

                        <a href="" class="fa fa-trash-o" ng-click="deleteOption(option)"></a>
                    </li>

                </ul><!-- /.list-checkboxes -->
			</div><!-- /.col col-1of2 -->
		</div><!-- /.popup-body -->

		<div class="popup-actions">
			<a href="" class="btn btn-grey" ng-click="cancel()">Cancel</a>
			
			<a href="" class="btn btn-green" ng-click="save()">Save</a>
		</div><!-- /.popup-actions -->


        <div class="popup-add-video" ng-show="view.addVideo.show">
            <input class="field" ng-model="view.addVideo.url" placeholder="Video URL" />
            <a href="" ng-click="addVideo()" class="btn btn-green"><i class="fa fa-check"></i></a>
            <a href="" ng-click="view.addVideo.show = false" class="btn btn-grey"><i class="fa fa-close"></i></a>
        </div>
	</div><!-- /.popup-inner -->
</div><!-- /.popup popup-new-category -->