
<div class="section-body">
    <div class="shell">
        <div class="section-body-inner" >

            <check-published-course></check-published-course>

            <div class="table table-section-list">
                <table>
                    <colgroup>
                        <col width="8%">
                        <col width="44%">
                        <col width="25%">
                        <col width="14%">
                        <col width="9%">
                    </colgroup>
                    <tbody sortable="updateOrder($indice)">
                        <tr>
                            <th colspan="3">Section
                                <i style="text-transform: none" ng-if="sections.length == 0">
                                    : No section(s) available
                                </i>
                                <i style="text-transform: none" ng-if="sections == null">
                                    : Loading...
                                </i>
                            </th>
                            <th class="text-center">Document</th>
                            <th># Questions</th>
                        </tr>
                        <!--<tr ng-if="sections.length == 0">-->
                            <!--<td class="no-record" colspan="5">No section(s) available</td>-->
                        <!--</tr>-->

                        <tr ng-repeat="section in sections" section-row ng-class="{editing: editName.editing}" sortable-row-index="{{$index}}">
                            <td>{{$index + 1}}</td>

                            <td class="section-name">
                                <span class="name">{{section.title}}</span>
                                <span class="name-edit">
                                    <input type="text" class="field" tabindex="1" ng-model="editName.title" placeholder="Section name" maxlength="200" pct-focus="editName.editing"/>
                                    <a href="" class="fa fa-save" tabindex="1" ng-click="saveTitle()" pct-tooltip="Save"></a>
                                    <a href="" class="fa fa-close" ng-click="editName.editing = false" pct-tooltip="Close"></a>
                                </span>
                            </td>

                            <td>
                                <div class="icons">
                                    <span ng-class="{'sortable-handle': !updatingOrder}" ng-hide="course.status == 1" button-loading="updatingOrder:small">
                                        <i class="fa fa-arrows" pct-tooltip="Reorder"></i>
                                    </span>
                                    <a href="" class="icon icon-rename" ng-hide="course.status == 1" ng-click="editName.editing = true" pct-tooltip="Rename"></a>
                                    <a ui-sref="^.detail({sectionId: section.id})" class="fa fa-pencil" pct-tooltip="Edit"></a>
                                    <span button-loading="deleting:small" ng-hide="course.status == 1">
                                        <a href="" class="fa fa-trash-o" ng-disabled="deleting" ng-click="deleteSection(section)" pct-tooltip="Remove"></a>
                                    </span>
                                </div><!-- /.icons -->
                            </td>

                            <td class="text-center padding-vert-0 view-document" ng-if="section.document.pages.length">
                                <div class="view-document-info" button-loading="uploadingDocument"><i class="fa fa-file-pdf-o"></i> <span>{{section.document.pages.length}} page(s)</span></div>
                                <div class="view-document-link">
                                    <a href="{{section.document.pdf_url}}" target="_blank"><i class="fa fa-search" pct-tooltip="View document"></i></a>
                                    <span ng-file-select="uploadDocument($files)" accept=".pdf" button-loading="uploadingDocument"><a href=""><i class="fa fa-upload" pct-tooltip="Upload another document"></i></a></span>
                                    <a href="" ng-click="deleteDocument()" ng-hide="course.status == 1"><i class="fa fa-trash" pct-tooltip="Delete document"></i></a>
                                </div>
                            </td>

                            <td class="text-center padding-vert-0 view-document" ng-if="!section.document.pages.length">
                                <div class="view-document-info" button-loading="uploadingDocument"><i class="fa fa-minus-circle"></i></div>
                                <div class="view-document-link">
                                    <span ng-file-select="uploadDocument($files)" accept=".pdf" button-loading="uploadingDocument"><a href="" pct-tooltip="Upload document"><i class="fa fa-upload"></i></a></span>
                                </div>
                            </td>

                            <td>{{section.num_questions}}</td>
                        </tr>

                        <tr ng-hide="course.status == 1">
                            <td>{{sections.length + 1}}</td>

                            <td><input type="text" class="field" placeholder="Add new section" maxlength="200" ng-model="inserting.title"/></td>

                            <td colspan="3">
                                <div class="btns">
                                    <button class="btn btn-grey" ng-click="addSection()" ng-disabled="!inserting.title || inserting.submitting || sections == null" button-loading="inserting.submitting">Add</button>

                                    <button class="btn btn-green" ng-click="addSectionAndView()" ng-disabled="!inserting.title || inserting.submitting || sections == null" button-loading="inserting.submitting">Add &amp; Build</button>
                                </div><!-- /.btns -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.table -->


        </div><!-- /.section-body-inner -->
    </div><!-- /.shell -->
</div><!-- /.section-body -->