<form novalidate name="popupText">
    <div class="popup popup-new-category">
        <div class="popup-inner">
            <div class="popup-head">
                <h2 class="popup-title">{{title}}</h2>
            </div>

            <div class="popup-body clearfix popup-single-input">
                <input type="text" class="field" placeholder="{{placeholder}}" required ng-model="pop.text" maxlength="200" />
            </div>

            <div class="popup-actions">
                <a href="" ng-click="close()" class="btn btn-grey">Cancel</a>

                <button ng-click="save()" ng-disabled="popupText.$invalid" class="btn btn-green">Save</button>
            </div>
        </div>
    </div>
</form>