<div class="course-single-media-head" ng-if="question.picture">
    <i>Use the following image to answer the question below.</i>
    <div class="course-single-media-wrapper">
        <img ng-src="{{question.picture}}" width="360" />
        <a href="{{question.picture}}" class="js-magnify"></a>
    </div>
</div><!-- /.course-question-head -->

<div class="course-single-media-head" ng-if="question.video">
    <i>Watch the following video to answer the question below.</i>
    <div class="course-single-media-wrapper">
        <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" source="question.video">
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    </div>
</div><!-- /.course-question-head -->


<div class="course-question-head">
    <h4 class="course-question-title">{{question.question}}</h4><!-- /.course-question-title -->
    <h5 ng-if="question.multi_select">(check all that apply)</h5>
</div><!-- /.course-question-head -->
<div class="course-question-body">
    <div class="form-body">
        <div class="course-question-options-pictures" ng-if="question.answer_type=='pictures'">
            <div class="course-question-option-picture" ng-repeat="option in question.options">
                <img ng-src="{{option.picture}}" alt="" width="145" height="145">

                <a href="app/css/images/temp/img-answer-large.jpg" class="js-magnify"></a>

                <input type="checkbox" id="option{{$index}}" value="{{option.option_id}}" ng-model="answer[$index]" ng-if="question.multi_select">
                <input type="radio" id="option{{$index}}" value="{{option.option_id}}" ng-model="answer[0]" ng-if="!question.multi_select">

                <label for="option{{$index}}">Select</label>
            </div><!-- /.course-question-option-picture -->

        </div><!-- /.course-questions-options-pictures -->

        <div class="course-question-options" ng-if="question.answer_type=='text'">
            <div class="course-question-option" ng-repeat="option in question.options">
                <input type="checkbox" id="option{{$index}}" value="{{option.option_id}}" ng-model="answer[$index]" ng-if="question.multi_select">
                <input type="radio" id="option{{$index}}" value="{{option.option_id}}" ng-model="answer[0]" ng-if="!question.multi_select">

                <label for="option{{$index}}">{{option.text}}</label>
            </div><!-- /.course-question-option -->

        </div><!-- /.course-questions-options -->
    </div><!-- /.form-body -->

    <div class="form-actions" ng-if="result==null || !result.passed">
        <input type="button" class="btn" value="Answer" ng-disabled="answer.length == 0" ng-click="submitAnswer()">
    </div><!-- /.form-actions -->

</div><!-- /.course-question-body -->
