
<div class="course-steps">
    <a href="#" class="link-prev">Previous</a>

    <div class="course-steps-slider">
        <ul class="course-steps-slides">
            <li><a href="#" class="answered" data-tip="Weevils: Facts, Identification &amp; Control">1</a></li>
            <li><a href="#" class="answered" data-tip="Weevils: Facts, Identification &amp; Control">2</a></li>
            <li><a href="#" class="answered" data-tip="Weevils: Facts, Identification &amp; Control">3</a></li>
            <li><a href="#" class="current" data-tip="Weevils: Facts, Identification &amp; Control">4</a></li>
            <li><a href="#" data-tip="Weevils: Facts, Identification &amp; Control">5</a></li>
        </ul>
    </div><!-- /.course-steps-slider -->

    <a href="#" class="link-next">Next</a>
</div><!-- /.course-steps -->

<div class="course-questions-container no-select is-scrollable" >

    <div class="course-progress">
        <h3>{{course.name}}</h3>

        <h5>#1 - Trade Name/Ingredients/First Aid</h5>

        <div class="course-progress-bar">
            <p><span class="alignright">Question <span class="current-count">1</span> of <span class="total-count">4</span></span> Section Progress</p>

            <div class="course-progress-bar-fill">
                <div style="width: 25%;"></div>
            </div><!-- /.course-progress-bar-fill -->
        </div><!-- /.course-progress-bar -->
    </div><!-- /.course-progress -->

    <div class="course-questions" questions="course.sections[0].questions">
    </div><!-- /.course-questions -->

    <div class="course-question-answer correct">
        <h4 class="course-question-answer-title">You're right!</h4><!-- /.course-question-answer-title -->
        <div class="course-question-answer-entry">
            <p>	This product is labeled to treat carpenter ants, German cockroaches and silverfish, but it is NOT labeled for treating bed bugs.</p>
        </div><!-- /.course-question-answer-entry -->
    </div><!-- /.course-question-answer -->

    <div class="course-question-answer retry">
        <h4 class="course-question-answer-title">Incorrect.</h4><!-- /.course-question-answer-title -->
        <div class="course-question-answer-entry">
            <p>	Please review your answers and try again.</p>
        </div><!-- /.course-question-answer-entry -->
    </div><!-- /.course-question-answer -->

    <nav class="nav-questions">
        <a href="" ng-click="next()" class="link-next">Next</a>
    </nav><!-- /.nav-questions -->

</div><!-- /.course-questions-container -->

<div class="course-media">

    <div class="course-media-bar">
        <div class="course-zoom">
            <a href="#" class="course-zoom-out">Zoom Out</a>
            <span class="course-zoom-level">100%</span>
            <a href="#" class="course-zoom-in">Zoom In</a>
        </div><!-- /.course-zoom -->
        <div class="course-controls">
            <a href="#" class="course-control-print">Print</a>
            <a href="#" class="course-control-download">Download</a>
            <a href="" class="course-control-maximize" ng-click="toggleMaximized()">Maximize</a>
        </div><!-- /.course-controls -->
        <div class="course-switch">
            <a href="#" class="course-switch-questions">Questions</a>
            <a href="#" class="course-switch-arrows"></a>
            <a href="#" class="course-switch-document">Document</a>
        </div><!-- /.course-switch -->
        <div class="course-paging">
            <a href="#" class="course-paging-prev">Previous</a>
            <span class="course-paging-label">Page 1 of 1</span>
            <a href="#" class="course-paging-next">Next</a>
        </div><!-- /.course-paging -->
    </div><!-- /.course-media-bar -->

    <div class="course-media-frame">
        <div class="course-media-frame-panzoom">
            <div class="loading"><i class="fa fa-spinner fa-spin"></i></div>
            <img src="app/css/images/temp/pdf-placeholder.jpg" class="course-pdf-preview" width="100" alt="">
        </div>
    </div><!-- /.course-media-frame -->
</div><!-- /.course-media -->
