

<div class="course-question-options-pictures" ng-if="question.option_type==1">

    <div class="course-question-option course-question-option-header" ng-if="retry">
        Retry
    </div>

    <div class="course-question-option-picture" ng-repeat="option in question.options">
        <img ng-src="{{option.image}}" alt="" width="145" height="145">

        <a href="{{option.image}}" class="js-magnify" option-magnify></a>

        <input type="checkbox" id="option{{$index}}" value="{{option.option_id}}" ng-model="view.answer[$index]" ng-if="question.multi_select" ng-disabled="disabled">
        <input type="radio"    id="option{{$index}}" value="{{option.option_id}}" ng-model="view.answer[0]" ng-if="!question.multi_select"     ng-disabled="disabled" >

        <label for="option{{$index}}" ng-class="{correct: isHighlightCorrect(option)}" ng-click="choose($index)">Select</label>
    </div><!-- /.course-question-option-picture -->
</div><!-- /.course-questions-options-pictures -->

<div class="course-question-options" ng-if="question.option_type==0">
    <div class="course-question-option course-question-option-header" ng-if="question.correct != null">
        Retry
    </div>
    <div class="course-question-option" ng-repeat="option in question.options">
        <input type="checkbox" id="option{{$index}}" value="{{option.option_id}}" ng-model="view.answer[$index]" ng-if="question.multi_select"  ng-disabled="disabled">
        <input type="radio"    id="option{{$index}}" value="{{option.option_id}}" ng-model="view.answer[0]"      ng-if="!question.multi_select" ng-disabled="disabled">

        <label for="option{{$index}}" ng-class="{correct: isHighlightCorrect(option)}" ng-click="choose($index)" markup="option.text"></label>
    </div><!-- /.course-question-option -->

</div><!-- /.course-questions-options -->
