<div class="popup popup-edit popup-edit-text">
	<div class="popup-inner">
		<div class="popup-head">
			<h2 class="popup-title"><span>{{index + 1}}</span> {{question_text || "(Empty)"}}</h2><!-- /.popup-title -->
		</div><!-- /.popup-head -->

		<div class="popup-body clearfix">
			<div class="col col-2">
                <a href="" ng-click="addOption()" class="alignleft btn-circle btn-grey">
                    <i class="icon icon-text-plus white"></i>
                </a>

                <ul class="list-checkboxes">
                    <li ng-if="options.length == 0">
                        <div>
                            No answer(s) available.
                        </div><!-- /.checkbox -->
                    </li>
                    <li ng-repeat="option in options">
                        <div class="checkbox">
                            <input type="checkbox" ng-model="option.correct" id="mo{{$index}}">

                            <label class="form-label" for="mo{{$index}}"></label>

                            <input class="form-field" ng-model="option.text" placeholder="Answer" />

                            <a href="" class="fa fa-trash-o" ng-click="deleteOption(option)"></a>
                        </div><!-- /.checkbox -->
                    </li>

                </ul><!-- /.list-checkboxes -->
			</div><!-- /.col col-1of2 -->
		</div><!-- /.popup-body -->

		<div class="popup-actions">
			<a href="" class="btn btn-grey" ng-click="cancel()">Cancel</a>
			
			<a href="" class="btn btn-green" ng-click="save()">Save</a>
		</div><!-- /.popup-actions -->
	</div><!-- /.popup-inner -->
</div><!-- /.popup popup-new-category -->