<div class="section-paging">
    <div class="shell">
        <ul class="pagination">
            <li class="page-prev">
                <a href="" ng-click="prevSection()" ng-disabled="$stateParams.sectionId == sections[0].id">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>

            <li ng-repeat="section in sections" ng-class="{current: section.id == $stateParams.sectionId}">
                <a ui-sref="^.detail({sectionId: section.id})">{{$index + 1}}</a>
                <p>{{section.title}}</p>
            </li>

            <li class="page-next">
                <a href="" ng-click="nextSection()" ng-disabled="$stateParams.sectionId == sections[sections.length - 1].id">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul><!-- /.pagination -->
    </div><!-- /.shell -->
</div><!-- /.section-paging -->
        
<div class="section-body">
    <div class="shell">
        <div class="section-body-inner">

            <check-published-course></check-published-course>

            <pct-questions questions="questions" focus="sd.focusQuestions" readonly="course.status == 1"></pct-questions>
        </div><!-- /.section-body-inner -->
    </div><!-- /.shell -->
</div><!-- /.section-body -->