<div class="table-row-head">
    <div class="table-col col-size-1">&nbsp;</div><!-- /.table-col -->

    <div class="table-col col-size-2">
        <h3>State</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-3">
        <h3>Category Code</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-4">
        <h3>Hours/CEUs</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-5">&nbsp;</div><!-- /.table-col -->
</div><!-- /.table-row-head -->

<div class="table-row table-row-1">
    <div class="table-col col-size-1">
        <a href="#" class="icon icon-chevron-down"></a>
    </div><!-- /.table-col -->

    <div class="table-col col-size-2">
        <h4>{{courseEdit.state_ceus.length}} States</h4>
    </div><!-- /.table-col -->

    <div class="table-col col-size-3">
        <h3>&nbsp;</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-4">
        <h3>&nbsp;</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-5">&nbsp;</div><!-- /.table-col -->
</div><!-- /.table-row -->

<div class="table-expand">
    <div class="table-row">

        <div class="table-col col-size-1">
            <a href="#" class="icon icon-chevron-up"></a>
        </div><!-- /.table-col -->

        <div state-adder="addState($value)"></div>
    </div><!-- /.table-row -->

    <div class="table-row no-record" ng-if="(courseEdit.state_ceus.length || 0)==0">
        <div class="table-col col-size-1">&nbsp;</div><!-- /.table-col -->

        <div class="table-col col-size-2">
            <h3>No state(s) available</h3>
        </div><!-- /.table-col -->
    </div><!-- /.table-row -->

    <div class="table-row" ng-repeat="state_ceu in courseEdit.state_ceus">
        <div class="table-col col-size-1">&nbsp;</div><!-- /.table-col -->

        <div class="table-col col-size-2">
            <h3>{{stateByCode(state_ceu.state).name}}</h3>
        </div><!-- /.table-col -->

        <div class="table-col col-size-3">
            <h3>{{state_ceu.category_code}}</h3>
        </div><!-- /.table-col -->

        <div class="table-col col-size-4">
            <h3>{{state_ceu.hours}}</h3>
        </div><!-- /.table-col -->

        <div class="table-col col-size-5"><a href="" ng-click="remove(state_ceu)" class="fa fa-trash-o"></a></div><!-- /.table-col -->
    </div><!-- /.table-row -->

</div><!-- /.table-row-expand -->
