<div class="table-row-head">
    <div class="table-col col-size-1">&nbsp;</div><!-- /.table-col -->

    <div class="table-col col-size-2">
        <h3>State</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-3">
        <h3>Category Code</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-4">
        <h3>Hours/CEUs</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-5">&nbsp;</div><!-- /.table-col -->
</div><!-- /.table-row-head -->

<div class="table-row table-row-1">
    <div class="table-col col-size-1">
        <a href="" class="icon icon-chevron-down" pct-tooltip="Expand"></a>
    </div><!-- /.table-col -->

    <div class="table-col col-size-2">
        <h4>{{(cei.course.state_ceus.length || 0) == 0 ? "No state(s) selected" : cei.course.state_ceus.length + " States"}}</h4>
    </div><!-- /.table-col -->

    <div class="table-col col-size-3">
        <h3>&nbsp;</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-4">
        <h3>&nbsp;</h3>
    </div><!-- /.table-col -->

    <div class="table-col col-size-5">&nbsp;</div><!-- /.table-col -->
</div><!-- /.table-row -->

<div class="table-expand">
    <div class="table-row">

        <div class="table-col col-size-1">
            <a href="" class="icon icon-chevron-up" pct-tooltip="Collapse"></a>
        </div><!-- /.table-col -->

        <form novalidate name="addStateForm" state-adder="addState($state)"></form>
    </div><!-- /.table-row -->

    <div class="table-row no-record" ng-if="(cei.course.state_ceus.length || 0)==0">
        <div class="table-col col-size-1">&nbsp;</div><!-- /.table-col -->

        <div class="table-col col-size-2">
            <h3>No state(s) selected</h3>
        </div><!-- /.table-col -->
    </div><!-- /.table-row -->

    <div class="table-row" ng-repeat="state_ceu in cei.course.state_ceus">
        <div class="table-col col-size-1">&nbsp;</div><!-- /.table-col -->

        <div class="table-col col-size-2">
            <h3>{{stateByCode(state_ceu.state).name}}</h3>
        </div><!-- /.table-col -->

        <div class="table-col col-size-3">
            <h3>{{state_ceu.category_code}}</h3>
        </div><!-- /.table-col -->

        <div class="table-col col-size-4">
            <h3>{{state_ceu.hours}}</h3>
        </div><!-- /.table-col -->

        <div class="table-col col-size-5"><a href="" ng-click="remove(state_ceu)" ng-hide="course.status == 1"><i class="fa fa-trash-o" pct-tooltip="Remove"></i></a></div><!-- /.table-col -->
    </div><!-- /.table-row -->

</div><!-- /.table-row-expand -->
