<div class="table-col col-size-2">
    <select name="field-add-new-state" id="field-add-new-state" class="select" pct-model="stateAdder.model.state" pct-options="state.code as state.name for state in filteredStates">
    </select>
</div><!-- /.table-col -->

<div class="table-col col-size-3">
    <input type="text" placeholder="Code" ng-model="stateAdder.model.category_code" />
</div><!-- /.table-col -->

<div class="table-col col-size-4">
    <input type="text" placeholder="Hours" ng-model="stateAdder.model.hours"/>
</div><!-- /.table-col -->

<div class="table-col col-size-5">
    <a href="" class="btn btn-grey" ng-click="add()">ADD</a>
</div><!-- /.table-col -->
