<div class="container is-scrollable">
    <div class="intro">
        <h3 class="intro-title">Welcome to <strong>Pest Control Technology</strong> Online Training</h3><!-- /.intro-title -->
    </div><!-- /.intro -->
    <div class="cols">
        <div class="col-full user-forms">

            <form novalidate name="form" class="form-signup" ng-if="!$stateParams.u || !$stateParams.t">
                <div class="form-head">
                    <h3 class="title-underlined">
                        <i class="fa fa-lock"></i>
                        <span>Reset Your Password</span>
                    </h3><!-- /.title-underlined -->
                </div><!-- /.form-head -->
                <!-- Step 1 -->
                <div class="form-body">
                    <div class="form-cols">
                        <div class="form-col form-col-full">
                            <div class="form-section">
                                <div class="form-section-head">
                                    <h4 class="form-section-title">Email Address</h4><!-- /.form-section-title -->
                                </div><!-- /.form-section-head -->
                                <div class="form-section-body">
                                    <div class="form-row" ng-if="sent">
                                        <span class="lead text-success">If an account with this email address exists, a reset password email was sent.<br />Please check your email and complete the reset password process.</span>
                                    </div><!-- /.form-row -->
                                    <div class="form-row" ng-if="!sent">
                                        <div class="form-controls">
                                            <input type="email" class="field" placeholder="Email Address" ng-model="fp.email" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions" ng-if="!sent">
                    <button class="btn" button-loading="sending" ng-disabled="form.$invalid || sent" ng-click="sendRequest()">Request Password Reset</button>
                </div><!-- /.form-actions -->
            </form>
            
            <form novalidate name="form" class="form-password" ng-if="$stateParams.u && $stateParams.t">
                <div>
                    <div class="form-head">
                        <h3 class="title-underlined">
                            <i class="fa fa-lock"></i>
                            <span>Reset Password</span>
                        </h3><!-- /.title-underlined -->
                    </div><!-- /.form-head -->
                    <div class="form-body split-form">
                        <div class="form-cols">
                            <div class="form-col form-col-1of2">
                                <div class="form-section">
                                    <div class="form-section-head">
                                        <h4 class="form-section-title">Email Address</h4><!-- /.form-section-title -->
                                    </div><!-- /.form-section-head -->
                                    <div class="form-section-body">
                                        <div class="form-row">
                                            <div class="form-controls">
                                                <input type="text" class="field" placeholder="Email address" ng-model="username" readonly required>
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->

                                        <div class="form-row" ng-if="error">
                                            <span class="lead text-danger">Unable to change your password. Please try again.</span>
                                        </div><!-- /.form-row -->
                                        <div class="form-row" ng-if="success">
                                            <span class="lead text-success">Password changed. Redirecting...</span>
                                        </div><!-- /.form-row -->
                                    </div><!-- /.form-section-body -->
                                </div><!-- /.form-section -->
                            </div><!-- /.form-col form-col-1of2 -->
                            <div class="form-col form-col-1of2">
                                <div class="form-section">
                                    <div class="form-section-head">
                                        <h4 class="form-section-title">New Password</h4><!-- /.form-section-title -->
                                    </div><!-- /.form-section-head -->
                                    <div class="form-section-body">
                                        <div class="form-row">
                                            <div class="form-controls">
                                                <input type="password" class="field" placeholder="New password" ng-model="fp.newPassword" ng-minlength="5" required>
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                        <div class="form-row">
                                            <div class="form-controls">
                                                <input type="password" class="field" placeholder="Confirm new password" ng-model="fp.newPasswordConfirm" required equals="fp.newPassword">
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                    </div><!-- /.form-section-body -->
                                </div><!-- /.form-section -->
                            </div><!-- /.form-col form-col-1of2 -->
                        </div><!-- /.form-cols -->
                    </div><!-- /.form-body -->
                    <div class="form-actions">
                        <button class="btn" button-loading="sending" ng-disabled="sent || form.$invalid" ng-click="sendRequest()">Reset Password</button>
                    </div><!-- /.form-actions -->
                </div>
            </form><!-- /.form-signup -->
        </div>
    </div>
</div>