
<!-- Step 1 -->
<div ng-if="!$stateParams.u || !$stateParams.t">
    <br/>
    <br/>
    <br/>
    <br/>
    <div ng-if="sent">
        An email had been sent to your email address. Please check it and complete the reset password process.
    </div>

    <form name="form">
        <input type="text" class="field" placeholder="User name / Email address" ng-model="fp.email" required>
        <br/>
        <button class="btn" button-loading="sending" ng-disabled="form.$invalid || sent" ng-click="sendRequest()">Request password reset email</button>
    </form>
</div>


<!-- Step 2 -->
<div ng-if="$stateParams.u && $stateParams.t">
    <br/>
    <br/>
    <br/>
    <br/>
    <div ng-if="sent">
        Your password have been reset successfully. Please proceed to logging in.
    </div>
    <form name="form">
        <input type="text" class="field" placeholder="User name / Email address" ng-model="username" readonly required>
        <br/>
        <br/>
        <input type="password" class="field" placeholder="New password" ng-model="fp.newPassword" required>
        <br/>
        <br/>
        <input type="password" class="field" placeholder="Confirm new password" ng-model="fp.newPasswordConfirm" required equals="fp.newPassword">
        <br/>
        <br/>
        <button class="btn" button-loading="sending" ng-disabled="sent || form.$invalid" ng-click="sendRequest()">Request your password</button>
    </form>
</div>

