
<div class="container is-scrollable">
    <div class="intro intro-logged">
        <h3 class="intro-title">Welcome back, <strong>{{User.firstName}}</strong>!</h3><!-- /.intro-title -->
        <div class="search">
            <div class="search-field">
                <input placeholder="Find a course" ng-model="view.search" search-input/>
            </div><!-- /.search-field -->

            <div class="search-dropdown">
                <div class="cols">

                    <div class="col col-1of2" ng-repeat="col in courseHeaderCols">
                        <div class="search-section" ng-repeat="courseHeader in col">
                            <div class="section-head">
                                <h3 class="section-title">
                                    <i class="search-ico-rats"></i>

                                    {{courseHeader.name}}
                                </h3><!-- /.section-title -->
                            </div><!-- /.section-head -->

                            <div class="section-body">
                                <h5 ng-repeat-start="courseCat in courseHeader.categories">{{courseCat.name}}</h5>

                                <ul ng-repeat-end>
                                    <li ng-repeat="course in courseCat.courses">
                                        <a ui-sref="course({id: course.id})">{{course.name}}</a>
                                    </li>
                                </ul>
                            </div><!-- /.section-body -->
                        </div><!-- /.search-section -->
                    </div><!-- /.col col-1of2 -->

                </div><!-- /.cols -->
            </div><!-- /.search-dropdown -->
        </div><!-- /.search -->
    </div><!-- /.intro -->

    <div class="cols">
        <div class="col col-1of2">
            <div class="section-courses">
                <div class="section-head">
                    <h3 class="section-title title-underlined">
                        <i class="ico ico-new-courses"></i>

                        <span>New Courses</span>

                        <small class="bull">&bull;</small>

                        <small class="count">{{newCourses.length}}</small>
                    </h3><!-- /.section-title -->
                </div><!-- /.section-head -->

                <div class="section-body">
                    <ul class="courses-items">
                        <li class="courses-item" ng-repeat="course in newCourses">
                            <a href="#" class="courses-item-image">

                            </a><!-- /.courses-item-image -->

                            <div class="courses-item-content">
                                <h4 class="courses-item-title">
                                    <a href="#">{{course.name}}</a>
                                </h4>

                                <p class="courses-item-meta">{{course.description}}</p><!-- /.courses-item-meta -->
                            </div><!-- /.courses-item-content -->

                            <a ui-sref="course({id: course.id})" class="courses-item-action-start">
                                <span>Start Course</span>
                            </a><!-- /.courses-item-action-start -->
                        </li><!-- /.courses-item -->

                    </ul><!-- /.courses-items -->
                </div><!-- /.section-body -->
            </div><!-- /.section-courses -->
        </div><!-- /.col col-1of2 -->

        <div class="col col-1of2">
            <div class="section-courses">
                <div class="section-head">
                    <h3 class="section-title title-underlined">
                        <i class="ico ico-open-courses"></i>

                        <span>Open Courses</span>

                        <small class="bull">&bull;</small>

                        <small class="count">{{openCourses.length}}</small>
                    </h3><!-- /.section-title -->
                </div><!-- /.section-head -->

                <div class="section-body">
                    <ul class="courses-items">
                        <li class="courses-item" ng-repeat="course in openCourses">
                            <a href="#" class="courses-item-image">

                            </a><!-- /.courses-item-image -->

                            <div class="courses-item-content">
                                <h4 class="courses-item-title">
                                    <a href="#">{{course.name}}</a>
                                </h4>

                                <p class="courses-item-meta">Last Activity: 3 days ago</p><!-- /.courses-item-meta -->

                                <ul class="courses-item-bars">
                                    <li class="courses-item-bar courses-item-bar-purple">
                                        <span class="courses-item-bar-label">Activities</span>

												<span class="courses-item-bar-fill">
													<span style="width: {{course.progress * 100}}%"></span>
												</span>
                                    </li><!-- /.courses-item-bar courses-item-bar-purple -->

                                    <li class="courses-item-bar courses-item-bar-blue">
                                        <span class="courses-item-bar-label">Tests</span>

												<span class="courses-item-bar-fill">
													<span style="width: {{course.test * 100}}%"></span>
												</span>
                                    </li><!-- /.courses-item-bar courses-item-bar-blue -->
                                </ul><!-- /.courses-item-bars -->
                            </div><!-- /.courses-item-content -->

                            <a ui-sref="course({id: course.id})" class="courses-item-action-resume">
                                <span>Resume Course</span>
                            </a><!-- /.courses-item-action-resume -->
                        </li><!-- /.courses-item -->

                    </ul><!-- /.courses-items -->
                </div><!-- /.section-body -->
            </div><!-- /.section-courses -->
        </div><!-- /.col col-1of2 -->
    </div><!-- /.cols -->
</div><!-- /.container -->
