<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        This is rendered by /Views/Shared/_Layout.cshtml. Your base angular template should go here.
    </body>
</html>

@*This is required to make MVC happy - do not remove*@
@RenderBody()
@*This is required to make MVC happy - do not remove*@