<!DOCTYPE html>
<html lang="en" ng-app="pct.elearning">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>GIE Pest Control Training</title>

    <link rel="shortcut icon" type="image/x-icon" href="/app/css/images/favicon.ico" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
    @Styles.Render("~/bundles/css/site.css")
    <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/js/lib.js")
    @Scripts.Render("~/bundles/js/site.js")
    <script src="http://vjs.zencdn.net/4.11/video.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <a class="logo" href="" ng-click="$state.go(User.loggedIn ? 'dashboard' : 'landing')">PCT - Pest Control Technology</a>
            <user-info />
        </header>

        <!-- Content start -->
        <div ui-view></div>
        <!-- Content end -->

        <footer class="footer">
            <p class="copyright">
                © 1997-@DateTime.Now.Year GIE Media, Inc. All Right Reserved.<span class="mob-hidden"> &middot; </span><span class="p1">
                    <script src="//prototype1.io/developed.by.p1.js"></script>
                </span>
            </p>
            <nav class="nav-footer mob-hidden">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Subscribe</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">RSS</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>
</html>

@*This is required to make MVC happy - do not remove*@
@RenderBody()
@*This is required to make MVC happy - do not remove*@
