
<div class="container is-scrollable">
    <div class="test">
        <div class="test-head">
            <h2>{{certificate.course_name}}</h2>

            <div class="test-progress">
                <span class="test-progress-percent">100%</span>

						<span class="test-progress-label">
							Test Completed
						</span><!-- /.test-progress-label -->

                <div class="test-progress-bar">
                    <div class="test-progress-bar-fill" style="width: 100%"></div><!-- /.test-progress-bar-fill -->
                </div><!-- /.test-progress-bar -->
            </div><!-- /.test-progress -->
        </div><!-- /.test-head -->

        <div class="test-body">
            <div class="cols">
                <div class="col col-1of2">
                    <div class="test-certificate">
                        <div class="test-certificate-preview">
                            <img ng-src="{{certificate.image_url}}" />
                        </div>
                    </div><!-- /.test-certificate -->
                </div><!-- /.col col-1of2 -->

                <div class="col col-1of2">
                    <div class="test-certificate-form">
                        <div class="form-head">
                            <h4 class="form-title">What would you like to do with your certificate?</h4><!-- /.form-title -->
                        </div><!-- /.form-head -->

                        <a href="" class="form-label" ng-click="download()"><i class="fa fa-download"></i> Download It</a>

                        <div class="form-body">
                            <div class="form-row">
                                <label class="form-label"><i class="fa fa-envelope"></i> Email It:</label>

                                <form name="form">
                                    <div class="form-controls" ng-repeat="manager in managers">
                                        <div class="form-controls-actions">
                                            <a href="" class="btn-add thin" ng-click="managers.push({})" tabindex="2"></a>
                                            <a href="" class="btn-remove thin" ng-click="managers.splice($index, 1)" tabindex="2"></a>
                                        </div><!-- /.form-controls-actions -->

                                        <div class="form-cols-outer">
                                            <div class="form-cols">
                                                <div class="form-col form-col-1of2">
                                                    <input type="text" class="field" placeholder="Name" ng-model="manager.name" required>
                                                </div><!-- /.form-col form-col-1of2 -->

                                                <div class="form-col form-col-1of2">
                                                    <input type="email" class="field" placeholder="Email Manager" ng-model="manager.email" required>
                                                </div><!-- /.form-col form-col-1of2 -->
                                            </div><!-- /.form-cols -->
                                        </div><!-- /.form-cols-outer -->
                                    </div><!-- /.form-controls -->
                                </form>
                            </div><!-- /.form-row -->
                        </div><!-- /.form-body -->

                        <div class="form-actions">
                            <input type="button" value="No Thanks!" class="btn btn-lightgray" ng-click="$state.go('dashboard')">
                            <input type="button" value="Send" class="btn btn-green" ng-click="send()" ng-disabled="form.$invalid">
                        </div><!-- /.form-actions -->
                    </div><!-- /.test-certificate-form -->
                </div><!-- /.col col-1of2 -->
            </div><!-- /.cols -->
        </div><!-- /.test-body -->
    </div><!-- /.test -->
</div><!-- /.container -->

