<div class="container is-scrollable new-user">
    <div class="intro">
        <h3 class="intro-title">Welcome to <strong>Pest Control Technology</strong> Online Training</h3><!-- /.intro-title -->
    </div><!-- /.intro -->
    <div class="cols">
        <div class="col col-1of2">
            <div class="section-features">
                <div class="section-head">
                    <h3 class="title-underlined">
                        <span>The Leading Pest Control Online Training</span>
                    </h3><!-- /.h-underline -->
                </div><!-- /.section-head -->
                <div class="section-body">
                    <ul class="features">
                        <li class="feature">
                            <div class="feature-aside">
                                <i class="feature-ico-book"></i>
                            </div><!-- /.feature-aside -->
                            <div class="feature-entry">
                                <p>Improve your understanding of structural pest management including common pest control products you use, pest biology, habits and control, and other topics.</p>
                            </div><!-- /.feature-entry -->
                        </li><!-- /.feature -->
                        <li class="feature">
                            <div class="feature-aside">
                                <i class="feature-ico-write"></i>
                            </div><!-- /.feature-aside -->
                            <div class="feature-entry">
                                <p>Many course may be approved for CEU credit in your state.</p>
                            </div><!-- /.feature-entry -->
                        </li><!-- /.feature -->
                        <li class="feature">
                            <div class="feature-aside">
                                <i class="feature-ico-hat"></i>
                            </div><!-- /.feature-aside -->
                            <div class="feature-entry">
                                <p>Complete the module, pass the test, and send a certificate to your employer and to the state for CEU credits (if applicable).</p>
                            </div><!-- /.feature-entry -->
                        </li><!-- /.feature -->
                    </ul><!-- /.features -->
                </div><!-- /.section-body -->
            </div><!-- /.section-features -->
        </div><!-- /.col col-1of2 -->

        <div class="col col-1of2 user-forms">
            <div class="form-signin">
                <form action="/index-logged.html" method="post">
                    <div class="form-head">
                        <h3 class="title-underlined">
                            <i class="fa fa-sign-in"></i>
                            <span>Sign In</span>
                        </h3><!-- /.title-underlined -->
                    </div><!-- /.form-head -->
                    <div class="form-body">
                        <div class="form-cols">
                            <div class="form-col">
                                <div class="form-section">
                                    <div class="form-section-body">
                                        <div class="form-row">
                                            <div class="form-controls">
                                                <input type="text" class="field" placeholder="Email Address">
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                        <div class="form-row">
                                            <div class="form-controls">
                                                <input type="password" class="field" placeholder="Password">
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                    </div><!-- /.form-section-body -->
                                </div><!-- /.form-section -->
                            </div><!-- /.form-col form-col-1of2 -->
                        </div><!-- /.form-cols -->
                    </div><!-- /.form-body -->
                    <div class="form-actions">
                        <input type="submit" class="btn" value="Sign In">
                    </div><!-- /.form-actions -->
                </form>
            </div>
            <div class="form-signup">

                <div class="form-head">
                    <h3 class="title-underlined">
                        <i class="fa fa-user"></i>
                        <span>Sign Up</span>
                    </h3><!-- /.title-underlined -->
                </div><!-- /.form-head -->
                <div class="form-body">
                    <div class="form-cols">
                        <div class="form-col form-col-1of2">
                            <div class="form-section">
                                <div class="form-section-head">
                                    <h4 class="form-section-title">About You</h4><!-- /.form-section-title -->
                                </div><!-- /.form-section-head -->
                                <div class="form-section-body">
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="text" class="field" placeholder="First Name" ng-model="signup.first_name">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="text" class="field" placeholder="Last Name" ng-model="signup.last_name">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="text" class="field" placeholder="Email Address" ng-model="signup.email">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="password" class="field" placeholder="Password" ng-model="signup.password">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="password" class="field" placeholder="Confirm Password" ng-model="signup.confirmPassword">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                </div><!-- /.form-section-body -->
                            </div><!-- /.form-section -->
                        </div><!-- /.form-col form-col-1of2 -->

                        <div class="form-col form-col-1of2">
                            <div class="form-section">
                                <div class="form-section-head">
                                    <h4 class="form-section-title">About Your Company</h4><!-- /.form-section-title -->
                                </div><!-- /.form-section-head -->
                                <div class="form-section-body">
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="text" class="field" placeholder="Company Name" ng-model="signup.company_name">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="text" class="field" placeholder="Company Address" ng-model="signup.company_address.address1">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="password" class="field" placeholder="Suite #" ng-model="signup.company_address.address2">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <input type="password" class="field" placeholder="City" ng-model="signup.company_address.city">
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                    <div class="form-row">
                                        <div class="form-controls">
                                            <div class="form-cols">
                                                <div class="form-col form-col-1of2">
                                                    <select formstone-selecter class="select" placeholder="State" ng-model="signup.company_address.state">
                                                        <option ng-repeat="state in states" value="{{state.code}}">{{state.code}}</option>
                                                    </select>
                                                </div><!-- /.form-col form-col-1of2 -->

                                                <div class="form-col form-col-1of2">
                                                    <input type="password" class="field" placeholder="Zip Code" ng-model="signup.company_address.zip_code">
                                                </div><!-- /.form-col form-col-1of2 -->
                                            </div><!-- /.form-cols -->
                                        </div><!-- /.form-controls -->
                                    </div><!-- /.form-row -->
                                </div><!-- /.form-section-body -->
                            </div><!-- /.form-section -->
                        </div><!-- /.form-col form-col-1of2 -->
                    </div><!-- /.form-cols -->
                </div><!-- /.form-body -->
                <div class="form-actions">
                    <input type="button" class="btn" value="Get Started" ng-click="getStarted()">
                </div><!-- /.form-actions -->

            </div><!-- /.form-signup -->
        </div><!-- /.col col-1of2 -->
    </div><!-- /.cols -->
</div>