<form class="form-signup" name="form">

    <div class="form-head">
        <h3 class="title-underlined">
            <i class="fa fa-user"></i>
            <span>Sign Up</span>
        </h3><!-- /.title-underlined -->
    </div><!-- /.form-head -->
    <div class="form-body">
        <div class="form-cols">
            <div class="form-col form-col-1of2">
                <div class="form-section">
                    <div class="form-section-head">
                        <h4 class="form-section-title">About You</h4><!-- /.form-section-title -->
                    </div><!-- /.form-section-head -->
                    <div class="form-section-body">
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="text" class="field" placeholder="First Name" ng-model="signup.first_name" name="first_name" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="text" class="field" placeholder="Last Name" ng-model="signup.last_name" name="last_name" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="email" class="field" placeholder="Email Address" ng-model="signup.email" name="email" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="password" class="field" placeholder="Password" ng-model="signup.password" name="password" required ng-minlength="5">
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="password" class="field" placeholder="Confirm Password" ng-model="signup.confirmPassword" equals="signup.password" name="confirmPassword" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                    </div><!-- /.form-section-body -->
                </div><!-- /.form-section -->
            </div><!-- /.form-col form-col-1of2 -->

            <div class="form-col form-col-1of2">
                <div class="form-section">
                    <div class="form-section-head">
                        <h4 class="form-section-title">About Your Company</h4><!-- /.form-section-title -->
                    </div><!-- /.form-section-head -->
                    <div class="form-section-body">
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="text" class="field" placeholder="Company Name" ng-model="signup.company_name" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="text" class="field" placeholder="Company Address" ng-model="signup.company_address.address1" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="text" class="field" placeholder="Suite #" ng-model="signup.company_address.address2">
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="text" class="field" placeholder="City" ng-model="signup.company_address.city" required>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                        <div class="form-row">
                            <div class="form-controls">
                                <div class="form-cols">
                                    <div class="form-col form-col-1of2">
                                        <select formstone-selecter class="select" placeholder="State" ng-model="signup.company_address.state" required>
                                            <option ng-repeat="state in states" value="{{state.code}}">{{state.code}}</option>
                                        </select>
                                    </div><!-- /.form-col form-col-1of2 -->

                                    <div class="form-col form-col-1of2">
                                        <input type="text" class="field" placeholder="Zip Code" ng-model="signup.company_address.zip_code" required>
                                    </div><!-- /.form-col form-col-1of2 -->
                                </div><!-- /.form-cols -->
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                    </div><!-- /.form-section-body -->
                </div><!-- /.form-section -->
            </div><!-- /.form-col form-col-1of2 -->
        </div><!-- /.form-cols -->
    </div><!-- /.form-body -->
    <div class="form-actions">
        <input type="button" class="btn" value="Get Started" ng-click="getStarted()" ng-disabled="form.$invalid">
    </div><!-- /.form-actions -->

</form><!-- /.form-signup -->