
<form novalidate name="form" class="form-password">
    <div>
        <div class="form-head">
            <h3 class="title-underlined">
                <i class="fa fa-lock"></i>
                <span>Password</span>
            </h3><!-- /.title-underlined -->
        </div><!-- /.form-head -->
        <div class="form-body split-form">
            <div class="form-cols">
                <div class="form-col form-col-1of2">
                    <div class="form-section">
                        <div class="form-section-head">
                            <h4 class="form-section-title">Current Password</h4><!-- /.form-section-title -->
                        </div><!-- /.form-section-head -->
                        <div class="form-section-body">
                            <div class="form-row">
                                <div class="form-controls">
                                    <input type="password" class="field" placeholder="Current Password" ng-model="passwordForm.old_password" e-focus="focusPassword" ng-maxlength="200">
                                </div><!-- /.form-controls -->
                            </div><!-- /.form-row -->
                            
                            <div class="form-row" ng-if="error">
                                <span class="lead text-danger">{{error}}</span>
                            </div><!-- /.form-row -->
                            <div class="form-row" ng-if="success">
                                <span class="lead text-success">Password changed.</span>
                            </div><!-- /.form-row -->
                        </div><!-- /.form-section-body -->
                    </div><!-- /.form-section -->
                </div><!-- /.form-col form-col-1of2 -->

                <div class="form-col form-col-1of2">
                    <div class="form-section">
                        <div class="form-section-head">
                            <h4 class="form-section-title">New Password</h4><!-- /.form-section-title -->
                        </div><!-- /.form-section-head -->
                        <div class="form-section-body">
                            <div class="form-row">
                                <div class="form-controls">
                                    <input type="password" class="field" placeholder="New Password" name="new_password" ng-model="passwordForm.new_password" ng-minlength="5" required ng-maxlength="200">
                                </div><!-- /.form-controls -->
                            </div><!-- /.form-row -->

                            <div class="form-row">
                                <div class="form-controls">
                                    <input type="password" class="field" placeholder="Confirm New Password" ng-model="passwordForm.new_password_confirm" equals="passwordForm.new_password">
                                </div><!-- /.form-controls -->
                            </div><!-- /.form-row -->
                        </div><!-- /.form-section-body -->
                    </div><!-- /.form-section -->
                </div><!-- /.form-col form-col-1of2 -->
            </div><!-- /.form-cols -->
        </div><!-- /.form-body -->
        <div class="form-actions">
            <input type="button" class="btn" ng-disabled="form.$invalid || invalid()" value="Update Password" ng-click="changePassword()">
        </div><!-- /.form-actions -->
    </div>
</form><!-- /.form-signup -->