
<div class="container is-scrollable" id="dashboard-page">

    <div class="intro intro-logged">
        <h3 class="intro-title">{{firstLogin ? 'Welcome':'Welcome back'}}, <strong ng-bind="User.firstName"></strong>!</h3>
        <search-section></search-section>
    </div>

    <div class="cols">

        <div class="col col-1of2" id="intro">
            <e-introduction ng-if="(openCourses.length || 0)==0"></e-introduction>

            <div class="section-courses" ng-if="openCourses.length">
                <div class="section-head">
                    <h3 class="section-title title-underlined">
                        <i class="ico ico-open-courses"></i>
                        <span>Open Courses</span>
                        <small class="bull">&bull;</small>
                        <small class="count" ng-bind="openCourses.length"></small>
                    </h3>
                </div>

                <div class="section-body">
                    <ul class="courses-items">
                        <li class="courses-item" ng-repeat="course in openCourses">
                            <div class="courses-item-image">
                                <div class="course-item-badge" ng-if="course.ceu_eligible">
                                    <span>CEU</span>
                                </div>
                            </div>

                            <div class="courses-item-content">
                                <h4 class="courses-item-title">
                                    <a href="#" ng-bind="course.title"></a>
                                </h4>

                                <p class="courses-item-meta">Last Activity: <span am-time-ago="course.last_activity"></span></p>

                                <ul class="courses-item-bars">
                                    <li class="courses-item-bar courses-item-bar-purple">
                                        <span class="courses-item-bar-label">Activities</span>

                                        <span class="courses-item-bar-fill">
                                            <span style="width: {{course.course_progress * 100}}%"></span>
                                        </span>
                                    </li>

                                    <li class="courses-item-bar"
                                        ng-class="{'courses-item-bar-blue': getTestProgress(course) >= 0.7,
                                        'courses-item-bar-red': getTestProgress(course) < 0.7}">
                                        <span class="courses-item-bar-label">Tests</span>

                                        <span class="courses-item-bar-fill">
                                            <span style="width: {{course.test_progress * 100}}%"></span>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="course-item-progress"
                                 ng-class="{'course-item-progress-blue':course.test_progress >= 0.7, 'course-item-progress-red':course.test_progress < 0.7 }"
                                 ng-if="getTestProgress(course) != null">
                                <div ng-class="{'ico-reset': course.test_progress < 0.7, 'ico-check': course.test_progress >= 0.7 }">&nbsp;</div>
                                <span>{{(course.test_progress * 100) | mathFloor}}%</span>
                            </div>

                            <a ng-if="getTestProgress(course) != null" ui-sref="course({id: course.course_id})" class="courses-item-action-resume test"
                               ng-class="getTestProgress(course) < 0.7 ? 'less' : 'great'">
                                <span ng-if="getTestProgress(course) < 0.7">
                                    <span class="course-test-text">
                                        {{course.test_progress * 100 | mathFloor}}% - Retake Test?
                                    </span>
                                    <span class="course-test-subtext" ng-if="course.ceu_eligible">
                                        You may retake this course to meet requirements for CEU credit
                                    </span>
                                </span>

                                <span class="course-test-text" ng-if="getTestProgress(course) >= 0.7">
                                    Passed! Retake Course?
                                </span>
                            </a>

                            <a ng-if="getTestProgress(course) == null" ui-sref="course({id: course.course_id})" class="courses-item-action-resume non-test">
                                <span class="course-test-text">Resume Course</span>
                            </a>
                        </li>
                    </ul><!-- /.courses-items -->
                </div><!-- /.section-body -->
            </div><!-- /.section-courses -->
        </div><!-- /.col col-1of2 -->

        <div class="col col-1of2" pct-certificates="{title: 'Recently Earned Certificates', limit: 2, hideOnEmpty: true, showLink: true}"></div>

        <div class="col col-1of2">
            <div class="section-courses">
                <div class="section-head">
                    <h3 class="section-title title-underlined">
                        <i class="ico ico-new-courses"></i>

                        <span>New Courses</span>

                        <small class="bull">&bull;</small>

                        <small class="count" ng-bind="newCourses.length"></small>
                    </h3>
                </div>

                <div class="section-body">
                    <ul class="courses-items">


                        <li class="no-record" ng-if="!newCourses">
                            Loading new courses...
                        </li>
                        <li class="no-record" ng-if="newCourses && (newCourses.length || 0)==0">
                            No new course(s)
                        </li>
                        <li class="courses-item" ng-repeat="course in newCourses">
                            <div class="courses-item-image">
                                <div class="course-item-badge" ng-if="course.ceu_eligible">
                                    <span>CEU</span>
                                </div>
                            </div>

                            <div class="courses-item-content">
                                <h4 class="courses-item-title">
                                    <a href="#" ng-bind="course.title"></a>
                                </h4>
                                <div ng-if="course.description">
                                    <h5>CEU(s) Available:</h5>
                                    <p class="courses-item-meta">{{course.description}}</p>
                                </div>
                                <div ng-if="course.prereq_courses && course.prereq_courses.length > 0">
                                    <h5>Pre-requisite Courses:</h5>
                                    <p ng-repeat="pre in course.prereq_courses" class="courses-item-meta">{{pre}}</p>
                                </div>
                            </div>

                            <a  href="" ng-click="loadCourse(course)" class="courses-item-action-start">
                                <span>Start Course</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
