<div class="container" >
    <div class="course" course-maximizer>
        <div class="course-steps">
            <a href="" class="link-prev" ng-click="prevSection()">Previous</a>

            <div class="course-steps-slider">
                <course-steps-slides sections="course.sections" current-section="view.section"
                                     on-change-section="view.section=$value" is-complete="view.questionsControl.isComplete"></course-steps-slides>
            </div>

            <a href="" class="link-next" ng-click="nextSection()">Next</a>
        </div>

        <course-questions-viewer    ng-if="course != null"
                                    course="course"
                                    progress-course="progressCourse"
                                    section="view.section"
                                    on-change-section="view.section = $value"
                                    on-finish-all="stopTimer()"
                                    preview-mode="previewMode"
                                    control="view.questionsControl"
        ></course-questions-viewer>

        <course-document-viewer section="view.section"></course-document-viewer>
    </div>
</div>

<div class="help-container" help-container="app/spa/course/help/CourseHelp.html" help-func="disableHelp($value)" ng-if="helpEnabled"></div>
