<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="OnServer" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExceptionEmail" value="ofridman@prototype1.io" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl" value="https://gie-live.prototype1.io/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="PCT" connectionString="Data Source=(local);Initial Catalog=PCTLive;User ID=pct_user;Password=452Vd67XnvtG5Q$3neR" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
