<section class="section section-courses-list">
    <div class="section-body">
        <div class="shell">
            <div class="section-body-inner">

                <div class="table table-courses-list">
                    <table>
                        <tr>
                            <th width="54%" sort-by="title">
                                Course Title
                            </th>

                            <th width="12%">&nbsp;</th>

                            <th width="12%" sort-by="date_created">
                                Created
                            </th>

                            <th width="11%" class="text-center" sort-by="open">
                                Open
                            </th>

                            <th width="11%" class="text-center" sort-by="complete">
                                Complete
                            </th>
                        </tr>

                        <tr pct-no-record="{list: list, searchResult: view.filteredList, search: view.search, name: 'course(s)'}">
                            <td colspan="5" pct-no-record-message></td>
                        </tr>

                        <tr ng-repeat="course in view.filteredList = ( list | filter:view.search | sorterFilter:sorter)" course-row ng-class="{0: 'row-draft', 2: 'row-review'}[course.status]">
                            <td>
                                {{::course.title}}
                            </td>

                            <td>
                                <div class="icons">
                                    <a ui-sref="courseEdit.information({courseId: course.id})" class="fa fa-pencil"></a>
                                    <a ui-sref="report.detail({courseId: course.id})" class="icon icon-test" ng-if="course.status == 1"></a>
                                    <a href="" ng-click="remove()" button-loading="removing:small">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div><!-- /.icons -->
                            </td>

                            <td>{{::course.date_created | date:'M/d/yyyy'}}</td>

                            <td class="text-center" ng-if="course.status == 1">{{::course.open}}</td>

                            <td ng-if="::course.status == 2" class="text-center" colspan="2">
                                <span class="review">In Review</span>
                            </td>
                            <td ng-if="::course.status == 0" class="text-center" colspan="2">
                                <span class="draft">Draft</span>
                            </td>

                            <td class="text-center" ng-if="course.status == 1">{{:course.complete}}</td>
                        </tr>

                    </table>
                </div><!-- /.table -->

                <div class="btn-plus">
                    <a class="btn-circle" ui-sref="courseEdit.information({courseId: 'new'})">
                        <i class="icon icon-course-plus"></i>
                        <span class="tooltip">Add Course</span>
                    </a>
                </div><!-- /.btn-plus -->
            </div><!-- /.section-body-inner -->
        </div><!-- /.shell -->
    </div><!-- /.section-body -->
</section><!-- /.section section-courses-list -->
<div class="push"></div><!-- /.push -->