<section class="section section-courses-list">
    <div class="section-body">
        <div class="shell">
            <div class="section-body-inner">

                <div class="table table-courses-list">
                    <table>
                        <tr>
                            <th width="55%" sort-by="title">
                                Course Title
                            </th>

                            <th width="11%">&nbsp;</th>

                            <th width="12%" sort-by="date_created">
                                Created
                            </th>

                            <th width="11%" class="text-center" sort-by="open">
                                Open
                            </th>

                            <th width="11%" class="text-center" sort-by="complete">
                                Complete
                            </th>
                        </tr>

                        <tr ng-if="list == null">
                            <td colspan="5" class="loading">Loading...</td>
                        </tr>
                        <tr ng-if="list.length == 0">
                            <td colspan="5" class="no-record">No course(s) available</td>
                        </tr>
                        <tr ng-if="view.filteredList.length == 0 && view.search">
                            <td colspan="5" class="no-record">No course(s) found matching "<b>{{view.search}}</b>"</td>
                        </tr>

                        <tr ng-repeat="course in view.filteredList = ( list | filter:view.search | sorterFilter:sorter)" ng-class="{0: 'row-draft', 2: 'row-review'}[course.status]">
                            <td>
                                {{course.title}}
                            </td>

                            <td>
                                <div class="icons">
                                    <a ui-sref="courseEdit.information({courseId: course.id})" class="fa fa-pencil"></a>
                                    <a href="6.PCT.Report.html" class="icon icon-test" ng-if="course.status == 1"></a>
                                    <a href="#" class="fa fa-trash-o"></a>
                                </div><!-- /.icons -->
                            </td>

                            <td>{{course.date_created | date:'M/d/yyyy'}}</td>

                            <td class="text-center" ng-if="course.status == 1">{{course.open}}</td>

                            <td ng-if="course.status == 2" class="text-center" colspan="2">
                                <span class="review">In Review</span>
                            </td>
                            <td ng-if="course.status == 0" class="text-center" colspan="2">
                                <span class="draft">Draft</span>
                            </td>

                            <td class="text-center" ng-if="course.status == 1">{{course.complete}}</td>
                        </tr>

                    </table>
                </div><!-- /.table -->

                <div class="btn-plus">
                    <a class="btn-circle" href="2.PCT.Courses.Edit.html">
                        <i class="icon icon-course-plus"></i>
                        <span class="tooltip">Add Course</span>
                    </a>
                </div><!-- /.btn-plus -->
            </div><!-- /.section-body-inner -->
        </div><!-- /.shell -->
    </div><!-- /.section-body -->
</section><!-- /.section section-courses-list -->
<div class="push"></div><!-- /.push -->