@using System.Net.Http.Headers
@model Dictionary<MediaTypeHeaderValue, object>

@{
	// Group the samples into a single tab if they are the same.
	var samples = Model.GroupBy(pair => pair.Value).ToDictionary(
		pair => String.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()), 
		pair => pair.Key);
	var mediaTypes = samples.Keys;
}

<div class="code ui-tabbed">
	<div class="ui-tabbed-header">
		@foreach (var mediaType in mediaTypes)
		{
			<span class="sample-header ui-tab">@mediaType</span>
		}
	</div>

	@foreach (var mediaType in mediaTypes)
	{
		{
			var sample = samples[mediaType];
			if (sample == null)
			{
				<pre><code>Sample not available.</code></pre>
			}
			else
			{

				@Html.DisplayFor(s => sample)
			}
		}
	}
</div>