<div class="nav-container" ng-if="User.loggedIn">
    <a href="#" class="nav-toggle">
        {{ User.firstName + " " + User.lastName}}

        <i class="ico-arrow"></i>
    </a>
    <nav class="nav popup popup-point-up-right">
        <ul>
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="certificates">Certificates</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="" ng-click="logout()">Sign out</a></li>
            <li class="mob-only horizontal-line"></li>
            <li class="mob-only"><a href="#">Contact Us</a></li>
            <li class="mob-only"><a href="#">Subscribe</a></li>
            <li class="mob-only"><a href="#">RSS</a></li>
            <li class="mob-only"><a href="#">Privacy Policy</a></li>
            <li class="mob-only"><a href="#">Terms of Use</a></li>
        </ul>
    </nav><!-- /.nav -->
</div><!-- /.nav-container -->
<div class="login-container" ng-if="!User.loggedIn">
    <form novalidate name="signin">
        <label for="EmailAddress">Sign In</label>
        <div ng-if="error" style="color: red">{{error}}</div>
        <input type="email" class="field" placeholder="Email Address" name="EmailAddress" id="EmailAddress" ng-model="loginForm.email" required>
        <input type="password" class="field" placeholder="Password" name="Password" ng-model="loginForm.password" required>
        <button class="btn btn-green btn-login" ng-click="login()" button-loading="ui.loggingin" ng-disabled="ui.loggingin">
            <i class="fa fa-lg fa-sign-in"></i>
        </button>
        <div class="login-footer">
            <a ui-sref="forgotpassword">Forgot password?</a>
        </div>
        <div class="login-footer">
            <input type="checkbox" id="remember" ng-model="loginForm.remember" /><label for="remember">Remember me</label>
        </div>
    </form>
</div>
