<div class="shell">
    <div class="footer-inner">
        <a ui-sref="courses" class="btn btn-grey alignleft" ng-if="cel.step == 0">Cancel</a>

        <a href="" ng-click="$state.go('courseEdit.' + steps[cel.step - 1].state)" class="btn btn-grey btn-icon-left alignleft" ng-if="cel.step > 0">
            <i class="fa fa-chevron-left"></i>
            {{steps[cel.step - 1].title}}
        </a>
        <!--<a href="1.PCT.Courses.List.html" class="fa fa-trash-o alignleft"></a>-->

        <div class="btns alignright">
            <a href="#" class="btn btn-grey" ng-if="cel.save">Save</a>

            <a href="" ng-click="$state.go('courseEdit.' + steps[cel.step + 1].state)" class="btn btn-green btn-icon-right" ng-if="cel.step < steps.length - 1">
                {{steps[cel.step + 1].title}}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div><!-- /.btns -->

        <div class="footer-draft">Draft</div><!-- /.footer-draft -->
    </div><!-- /.footer-inner -->
</div><!-- /.shell -->
