<section class="section section-courses-edit">
    <div class="section-nav">
        <div class="shell">
            <ul>
                <li ng-class="{highlighted: $index == cel.step, checked: $index < cel.step}" ng-repeat="step in steps">
                    <span>
                        <a href="" ng-click="toPage($index)">
                            <i class="fa"></i>
                        </a>
                    </span>
                    {{step.title}}
                </li>

            </ul>
        </div>
        <!-- /.shell -->
    </div><!-- /.section-nav -->

    <div class="section-body">
        <div class="shell">
            <div class="section-body-inner" ui-view></div><!-- /.section-body-inner -->
        </div><!-- /.shell -->
    </div><!-- /.section-body -->
</section><!-- /.section section-courses-list -->
<div class="push"></div><!-- /.push -->