<section class="section user-list">
    <div class="section-body">
        <div class="shell">
            <div class="section-body-inner">
                <div class="table table-user-list">
                    <table>
                        <tr>
                            <th width="25%">
                                Last Name
                            </th>

                            <th width="25%">
                                First Name
                            </th>

                            <th width="25%">
                                Email
                            </th>

                            <th width="13%">
                                Last Sign In
                            </th>

                            <th width="12%" class="text-center">
                                Details
                            </th>
                        </tr>

                        <tr pct-no-record="{list: ul.users, searchResult: u.searching.result, search: (u.search.length >= 2 ? u.search : null), name: 'user(s)'}">
                            <td colspan="5" pct-no-record-message></td>
                        </tr>

                        <tr ng-repeat="user in (u.searching ? u.searching.result : ul.users )">
                            <td>
                                {{user.last_name}}
                            </td>

                            <td>
                                {{user.first_name}}
                            </td>

                            <td>
                                {{user.email}}
                            </td>

                            <td>{{user.last_sign_in | date:"M/d/yyyy"}}</td>

                            <td class="text-center"><a href="" ng-click="toDetail(user.id)"><i class="fa fa-user" pct-tooltip="View"></i></a></td>
                        </tr>

                    </table>

                    <div class="table-buttons" ng-if="ul.pageCount > 1">
                        <a href="" class="btn" ng-class="ul.pageNum==pageNum ? 'btn-green' : 'btn-grey'" ng-repeat="pageNum in ul.pageNumbers" ng-click="ul.pageNum = pageNum">{{pageNum}}</a>
                    </div>

                </div><!-- /.table -->
            </div><!-- /.section-body-inner -->
        </div><!-- /.shell -->
    </div><!-- /.section-body -->
</section><!-- /.section section-courses-list -->
<div class="push"></div><!-- /.push -->