
<section class="section section-courses-edit">
    <div class="section-body">
        <div class="shell">
            <div class="section-body-inner">
                <div class="custom-table">

                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Email Address</h3>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-4">
                            <input type="text" name="email" class="field" placeholder="Email Address" ng-model="login.email" maxlength="200" autofocus>
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->

                    <div class="table-row">
                        <div class="table-col col-size-1">
                            <h3>Password</h3>
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-2">
                            <input type="password" name="password" class="field" placeholder="Password" ng-model="login.password" maxlength="200" on-enter="submitLogin()">
                        </div><!-- /.table-col -->

                        <div class="table-col col-size-3">
                            <button ng-click="submitLogin()" class="btn btn-green btn-icon-right" button-loading="view.submitting" ng-disabled="view.submitting">Login</button>
                        </div><!-- /.table-col -->
                    </div><!-- /.table-row -->
                </div><!-- /.custom-table -->
            </div><!-- /.section-body-inner -->
        </div><!-- /.shell -->
    </div><!-- /.section-body -->
</section><!-- /.section section-courses-list -->
<div class="push"></div><!-- /.push -->